# 世界女性劳动力参与劳动占比变化的原因

### 所需数据：15岁（含）以上总就业人口比率、男性劳动力参与率、女性劳动力参与率、高等院校女生入学比例、国家收入程度

### 数据来源：世界银行

In [2]:
import numpy as np
import pandas as pd
import csv,os

## 15岁（含）以上总就业人口比率（以下简称总就业人口比率）

### 数据清洗

In [3]:
dfa = pd.read_csv('Employment_to_population_ratio.csv',encoding = 'utf8')

In [4]:
dfa

,country,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,61.806999,61.851002,62.280998,62.813999,63.213001,63.665001,64.172997,64.511002,64.858002,64.939003,65.028000
2,Angola,69.514999,70.731003,72.132004,72.167999,72.098000,72.102997,72.181000,72.142998,72.186996,72.039001,71.982002
3,Albania,47.077000,46.625999,48.203999,49.759998,45.139999,44.851002,46.808998,47.724998,48.458000,48.269001,48.127998
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,43.638380,44.008296,43.697464,43.738764,43.966162,43.776550,43.476316,43.486766,43.463359,43.474533,43.465509
6,United Arab Emirates,80.097000,81.258003,81.486000,81.589996,81.748001,82.114998,82.593002,82.277000,81.292999,80.882004,80.671997
7,Argentina,55.942001,55.935001,56.470001,56.313000,56.115002,55.511002,55.551998,55.561001,55.574001,54.757999,54.327999
8,Armenia,46.380001,48.224998,49.414001,49.907001,50.924999,49.905998,48.873001,48.334000,48.188000,48.389000,48.463001
9,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,61.886002,62.118000,62.222000,61.841000,61.324001,60.823002,61.103001,61.182999,61.494999,61.526001,61.455002
12,Austria,56.797001,57.068001,57.280998,57.362999,57.210999,56.779999,56.660999,56.792999,57.039001,57.344002,57.273998
13,Azerbaijan,59.834999,60.167999,60.523998,60.938000,61.339001,61.858002,62.264999,62.935001,63.237000,62.872002,62.490002
14,Burundi,78.189003,77.896004,77.600998,77.359001,77.124001,76.936996,77.227997,77.512001,77.804001,77.824997,77.810997
15,Belgium,49.161999,49.493000,49.283001,49.131001,48.986000,48.986000,48.911999,49.063999,49.595001,49.904999,49.728001
16,Benin,70.564003,70.306000,68.988998,68.959000,69.030998,69.152000,69.265999,69.353996,69.580002,69.699997,69.852997
17,Burkina Faso,68.061996,66.924004,65.844002,64.638000,63.430000,62.363998,62.251999,62.506001,62.759998,62.598000,62.400002
18,Bangladesh,53.943001,54.786999,54.535000,54.299999,54.044998,54.018002,53.981998,53.980000,56.139999,56.194000,56.216000
19,Bulgaria,50.625999,47.917999,46.618000,46.561001,46.891998,47.964001,49.227001,49.405998,52.040001,52.438999,52.564999
20,Bahrain,70.662003,71.403999,70.602997,70.638000,70.649002,70.751999,70.870003,71.166000,71.735001,72.139000,72.552002
21,"Bahamas, The",64.339996,64.162003,64.078003,64.431999,62.769001,64.487999,65.722000,65.112999,65.304001,65.720001,65.944000
22,Bosnia and Herzegovina,36.706001,35.027000,34.720001,34.293999,34.318001,34.032001,33.816002,34.848000,37.308998,37.056000,36.787998
23,Belarus,58.771000,59.200001,59.506001,59.814999,60.125999,60.347000,60.473000,60.509998,60.361000,60.046001,59.678001
24,Belize,59.895000,59.395000,59.311001,58.935001,60.034000,59.444000,59.807999,61.512001,60.924999,60.863998,60.977001
25,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bolivia,69.997002,70.121002,70.224998,67.500999,67.646004,69.859001,64.989998,68.452003,65.693001,65.680000,65.684998
27,Brazil,60.294998,59.785000,59.243999,59.722000,59.742001,59.683998,58.691002,56.424000,55.877998,55.924000,55.988998
28,Barbados,61.601002,60.736000,60.268002,59.000999,59.595001,57.307999,58.216000,59.860001,59.682999,59.269001,58.876999
29,Brunei Darussalam,62.115002,61.993999,61.931999,61.721001,61.487999,61.368000,60.681999,59.984001,59.304001,59.137001,58.882999
...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,60.057772,60.052800,60.081146,60.673796,60.511827,60.397636,60.123546,59.313757,59.230372,59.218351,59.202229
235,Timor-Leste,41.435001,40.109001,39.678001,39.194000,38.741001,38.344002,38.000000,37.941002,37.987999,37.818001,37.661999
236,Middle East & North Africa (IDA & IBRD countries),40.614814,40.457170,39.963886,39.739194,40.004262,39.611611,39.337862,39.507395,39.470662,39.455406,39.377361
237,Tonga,59.400002,59.210999,59.118000,59.111000,59.195000,59.126999,58.974998,58.948002,58.938000,58.921001,58.897999
238,South Asia (IDA & IBRD),53.879098,53.362912,52.608834,51.830244,51.746736,51.804255,51.775581,51.756923,51.982636,51.928205,51.864906
239,Sub-Saharan Africa (IDA & IBRD countries),63.505866,63.108972,63.067920,63.027748,63.053813,62.972281,62.884010,62.785203,62.939882,62.954020,62.934808
240,Trinidad and Tobago,61.187000,59.943001,59.511002,60.077000,60.814999,61.254002,60.587002,59.544998,59.181999,58.853001,58.497002
241,Tunisia,40.147999,40.573002,38.333000,39.230999,39.681000,39.970001,39.811001,39.549000,39.452999,39.270000,39.088001
242,Turkey,40.783001,42.613998,44.498001,44.765999,45.313999,45.183998,45.785999,46.160999,46.908001,46.800999,46.196999
243,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,84.746002,83.710999,82.723000,82.251999,81.781998,81.652000,81.626999,81.624001,81.709000,81.586998,81.475998
245,Uganda,68.206001,68.240997,68.403999,68.541000,69.709999,69.706001,69.685997,69.712997,69.738998,69.771004,69.806999
246,Ukraine,50.085999,50.547001,50.896000,50.785000,51.567001,49.262001,49.596001,49.268002,49.056999,48.910000,48.696999
247,Upper middle income,62.271155,62.041324,62.053595,62.064740,61.904401,61.686587,61.484884,61.134219,60.984702,60.672972,60.299311
248,Uruguay,60.687000,60.797001,61.707001,61.162998,60.695000,61.092999,60.084000,59.591999,59.133999,59.209000,59.332001
249,United States,58.370998,57.460999,57.379002,57.824001,57.908001,58.374001,58.743000,59.137001,59.580002,59.581001,59.359001
250,Uzbekistan,60.551998,60.561001,61.041000,61.341999,61.597000,61.674999,61.820999,61.946999,62.181000,62.074001,61.887001
251,St. Vincent and the Grenadines,54.808998,54.775002,54.896000,54.990002,55.044998,55.029999,54.618999,54.700001,54.872002,54.812000,54.771000
252,"Venezuela, RB",59.866001,59.327999,60.330002,59.990002,59.456001,59.683998,59.499001,58.303001,57.645000,56.992001,56.471001
253,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),57.178001,56.768002,56.299000,55.683998,55.220001,54.951000,54.723999,54.604000,54.578999,54.396999,54.195999
255,Vietnam,74.565002,75.337997,75.648003,75.856003,76.598999,76.818001,76.398003,75.957001,76.035004,75.960999,75.828003
256,Vanuatu,66.317001,66.389999,66.265999,66.144997,66.172997,66.263000,66.681000,66.497002,66.651001,66.710999,66.765999
257,World,59.168059,58.917927,58.768182,58.624153,58.535490,58.514324,58.436964,58.347254,58.430395,58.320269,58.146006
258,Samoa,30.860001,30.763000,30.371000,29.337000,29.400999,29.330000,29.232000,28.879999,28.844999,28.754999,28.598000
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",34.959000,34.425999,33.694000,33.039001,32.430000,31.976999,32.316002,33.001999,33.462002,33.520000,33.522999
261,South Africa,41.287998,39.431999,39.410999,39.637001,40.146000,40.127998,40.902000,40.188999,40.400002,40.563000,40.313999
262,Zambia,68.977997,66.430000,68.161003,69.360001,69.389999,69.446999,69.630997,69.681999,69.795998,69.765999,69.797997
263,Zimbabwe,78.417999,78.389000,78.292000,78.194000,78.306000,78.514999,78.685997,78.959999,79.287003,79.439003,79.566002

In [5]:
dfa1 =dfa.dropna(axis=0,how='any') 
dfa1

,country,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Afghanistan,61.806999,61.851002,62.280998,62.813999,63.213001,63.665001,64.172997,64.511002,64.858002,64.939003,65.028000
2,Angola,69.514999,70.731003,72.132004,72.167999,72.098000,72.102997,72.181000,72.142998,72.186996,72.039001,71.982002
3,Albania,47.077000,46.625999,48.203999,49.759998,45.139999,44.851002,46.808998,47.724998,48.458000,48.269001,48.127998
5,Arab World,43.638380,44.008296,43.697464,43.738764,43.966162,43.776550,43.476316,43.486766,43.463359,43.474533,43.465509
6,United Arab Emirates,80.097000,81.258003,81.486000,81.589996,81.748001,82.114998,82.593002,82.277000,81.292999,80.882004,80.671997
7,Argentina,55.942001,55.935001,56.470001,56.313000,56.115002,55.511002,55.551998,55.561001,55.574001,54.757999,54.327999
8,Armenia,46.380001,48.224998,49.414001,49.907001,50.924999,49.905998,48.873001,48.334000,48.188000,48.389000,48.463001
11,Australia,61.886002,62.118000,62.222000,61.841000,61.324001,60.823002,61.103001,61.182999,61.494999,61.526001,61.455002
12,Austria,56.797001,57.068001,57.280998,57.362999,57.210999,56.779999,56.660999,56.792999,57.039001,57.344002,57.273998
13,Azerbaijan,59.834999,60.167999,60.523998,60.938000,61.339001,61.858002,62.264999,62.935001,63.237000,62.872002,62.490002
14,Burundi,78.189003,77.896004,77.600998,77.359001,77.124001,76.936996,77.227997,77.512001,77.804001,77.824997,77.810997
15,Belgium,49.161999,49.493000,49.283001,49.131001,48.986000,48.986000,48.911999,49.063999,49.595001,49.904999,49.728001
16,Benin,70.564003,70.306000,68.988998,68.959000,69.030998,69.152000,69.265999,69.353996,69.580002,69.699997,69.852997
17,Burkina Faso,68.061996,66.924004,65.844002,64.638000,63.430000,62.363998,62.251999,62.506001,62.759998,62.598000,62.400002
18,Bangladesh,53.943001,54.786999,54.535000,54.299999,54.044998,54.018002,53.981998,53.980000,56.139999,56.194000,56.216000
19,Bulgaria,50.625999,47.917999,46.618000,46.561001,46.891998,47.964001,49.227001,49.405998,52.040001,52.438999,52.564999
20,Bahrain,70.662003,71.403999,70.602997,70.638000,70.649002,70.751999,70.870003,71.166000,71.735001,72.139000,72.552002
21,"Bahamas, The",64.339996,64.162003,64.078003,64.431999,62.769001,64.487999,65.722000,65.112999,65.304001,65.720001,65.944000
22,Bosnia and Herzegovina,36.706001,35.027000,34.720001,34.293999,34.318001,34.032001,33.816002,34.848000,37.308998,37.056000,36.787998
23,Belarus,58.771000,59.200001,59.506001,59.814999,60.125999,60.347000,60.473000,60.509998,60.361000,60.046001,59.678001
24,Belize,59.895000,59.395000,59.311001,58.935001,60.034000,59.444000,59.807999,61.512001,60.924999,60.863998,60.977001
26,Bolivia,69.997002,70.121002,70.224998,67.500999,67.646004,69.859001,64.989998,68.452003,65.693001,65.680000,65.684998
27,Brazil,60.294998,59.785000,59.243999,59.722000,59.742001,59.683998,58.691002,56.424000,55.877998,55.924000,55.988998
28,Barbados,61.601002,60.736000,60.268002,59.000999,59.595001,57.307999,58.216000,59.860001,59.682999,59.269001,58.876999
29,Brunei Darussalam,62.115002,61.993999,61.931999,61.721001,61.487999,61.368000,60.681999,59.984001,59.304001,59.137001,58.882999
30,Bhutan,68.863998,67.508003,65.779999,64.216003,64.200996,62.692001,64.973999,65.149002,65.345001,65.495003,65.623001
31,Botswana,52.959999,49.507999,53.075001,55.956001,58.236000,58.424999,58.805000,58.938000,59.301998,59.320999,59.358002
32,Central African Republic,67.575996,67.499001,67.487000,67.527000,67.678001,67.545998,67.464996,67.445999,67.477997,67.430000,67.389000
33,Canada,61.181000,61.217999,61.387001,61.375999,61.487999,61.159000,61.014999,60.813999,61.306999,61.369999,61.053001
34,Central Europe and the Baltics,50.444137,50.018003,49.911343,50.163961,50.252872,51.284345,51.989261,52.763283,54.045934,54.366014,54.256696
...,...,...,...,...,...,...,...,...,...,...,...,...
231,Thailand,72.098000,71.251999,72.750999,72.348999,70.299004,69.293999,68.655998,67.630997,67.364998,67.056999,66.734001
232,Tajikistan,38.150002,38.209000,38.318001,38.314999,38.296001,38.404999,38.578999,38.764999,38.898998,38.868000,38.806999
233,Turkmenistan,60.960999,61.410999,61.654999,61.942001,62.213001,62.501999,62.692001,62.775002,62.830002,62.678001,62.515999
234,Latin America & the Caribbean (IDA & IBRD coun...,60.057772,60.052800,60.081146,60.673796,60.511827,60.397636,60.123546,59.313757,59.230372,59.218351,59.202229
235,Timor-Leste,41.435001,40.109001,39.678001,39.194000,38.741001,38.344002,38.000000,37.941002,37.987999,37.818001,37.661999
236,Middle East & North Africa (IDA & IBRD countries),40.614814,40.457170,39.963886,39.739194,40.004262,39.611611,39.337862,39.507395,39.470662,39.455406,39.377361
237,Tonga,59.400002,59.210999,59.118000,59.111000,59.195000,59.126999,58.974998,58.948002,58.938000,58.921001,58.897999
238,South Asia (IDA & IBRD),53.879098,53.362912,52.608834,51.830244,51.746736,51.804255,51.775581,51.756923,51.982636,51.928205,51.864906
239,Sub-Saharan Africa (IDA & IBRD countries),63.505866,63.108972,63.067920,63.027748,63.053813,62.972281,62.884010,62.785203,62.939882,62.954020,62.934808
240,Trinidad and Tobago,61.187000,59.943001,59.511002,60.077000,60.814999,61.254002,60.587002,59.544998,59.181999,58.853001,58.497002
241,Tunisia,40.147999,40.573002,38.333000,39.230999,39.681000,39.970001,39.811001,39.549000,39.452999,39.270000,39.088001
242,Turkey,40.783001,42.613998,44.498001,44.765999,45.313999,45.183998,45.785999,46.160999,46.908001,46.800999,46.196999
244,Tanzania,84.746002,83.710999,82.723000,82.251999,81.781998,81.652000,81.626999,81.624001,81.709000,81.586998,81.475998
245,Uganda,68.206001,68.240997,68.403999,68.541000,69.709999,69.706001,69.685997,69.712997,69.738998,69.771004,69.806999
246,Ukraine,50.085999,50.547001,50.896000,50.785000,51.567001,49.262001,49.596001,49.268002,49.056999,48.910000,48.696999
247,Upper middle income,62.271155,62.041324,62.053595,62.064740,61.904401,61.686587,61.484884,61.134219,60.984702,60.672972,60.299311
248,Uruguay,60.687000,60.797001,61.707001,61.162998,60.695000,61.092999,60.084000,59.591999,59.133999,59.209000,59.332001
249,United States,58.370998,57.460999,57.379002,57.824001,57.908001,58.374001,58.743000,59.137001,59.580002,59.581001,59.359001
250,Uzbekistan,60.551998,60.561001,61.041000,61.341999,61.597000,61.674999,61.820999,61.946999,62.181000,62.074001,61.887001
251,St. Vincent and the Grenadines,54.808998,54.775002,54.896000,54.990002,55.044998,55.029999,54.618999,54.700001,54.872002,54.812000,54.771000
252,"Venezuela, RB",59.866001,59.327999,60.330002,59.990002,59.456001,59.683998,59.499001,58.303001,57.645000,56.992001,56.471001
254,Virgin Islands (U.S.),57.178001,56.768002,56.299000,55.683998,55.220001,54.951000,54.723999,54.604000,54.578999,54.396999,54.195999
255,Vietnam,74.565002,75.337997,75.648003,75.856003,76.598999,76.818001,76.398003,75.957001,76.035004,75.960999,75.828003
256,Vanuatu,66.317001,66.389999,66.265999,66.144997,66.172997,66.263000,66.681000,66.497002,66.651001,66.710999,66.765999
257,World,59.168059,58.917927,58.768182,58.624153,58.535490,58.514324,58.436964,58.347254,58.430395,58.320269,58.146006
258,Samoa,30.860001,30.763000,30.371000,29.337000,29.400999,29.330000,29.232000,28.879999,28.844999,28.754999,28.598000
260,"Yemen, Rep.",34.959000,34.425999,33.694000,33.039001,32.430000,31.976999,32.316002,33.001999,33.462002,33.520000,33.522999
261,South Africa,41.287998,39.431999,39.410999,39.637001,40.146000,40.127998,40.902000,40.188999,40.400002,40.563000,40.313999
262,Zambia,68.977997,66.430000,68.161003,69.360001,69.389999,69.446999,69.630997,69.681999,69.795998,69.765999,69.797997
263,Zimbabwe,78.417999,78.389000,78.292000,78.194000,78.306000,78.514999,78.685997,78.959999,79.287003,79.439003,79.566002

In [6]:
x轴 = [int(x)for x in dfa1.columns.values[-11:]]
x轴

[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [7]:
dfa2=print(list(dfa1.country))
dfa2

['Afghanistan', 'Angola', 'Albania', 'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana', 'Central African Republic', 'Canada', 'Central Europe and the Baltics', 'Switzerland', 'Channel Islands', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Caribbean small states', 'Cuba', 'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Denmark', 'Dominican Republic', 'Algeria', 'East Asia & Pacific (excluding high income)', 'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.', 'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'European Union', 'Fragile and conflict affected situations', 'Finland', 'Fiji', 'France', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana', 'Guinea', 'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Guatemala', 'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China', 'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend', 'Indonesia', 'IDA only', 'India', 'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Korea, Rep.', 'Kuwait', 'Latin America & Caribbean (excluding high income)', 'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Latin America & Caribbean', 'Least developed countries: UN classification', 'Low income', 'Sri Lanka', 'Lower middle income', 'Low & middle income', 'Lesotho', 'Late-demographic dividend', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China', 'Morocco', 'Moldova', 'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico', 'Middle income', 'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Middle East & North Africa (excluding high income)', 'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'OECD members', 'Oman', 'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend', 'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay', 'West Bank and Gaza', 'Pacific island small states', 'Post-demographic dividend', 'French Polynesia', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'Somalia', 'Serbia', 'Sub-Saharan Africa (excluding high income)', 'South Sudan', 'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini', 'Syrian Arab Republic', 'Chad', 'East Asia & Pacific (IDA & IBRD countries)', 'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)', 'Tonga', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tanzania', 'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan', 'St. Vincent and the Grenadines', 'Venezuela, RB', 'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe']

In [8]:
总就业人口比率= list(zip(list(dfa1.country)))
print(总就业人口比率)
print(type(总就业人口比率))

[('Afghanistan',), ('Angola',), ('Albania',), ('Arab World',), ('United Arab Emirates',), ('Argentina',), ('Armenia',), ('Australia',), ('Austria',), ('Azerbaijan',), ('Burundi',), ('Belgium',), ('Benin',), ('Burkina Faso',), ('Bangladesh',), ('Bulgaria',), ('Bahrain',), ('Bahamas, The',), ('Bosnia and Herzegovina',), ('Belarus',), ('Belize',), ('Bolivia',), ('Brazil',), ('Barbados',), ('Brunei Darussalam',), ('Bhutan',), ('Botswana',), ('Central African Republic',), ('Canada',), ('Central Europe and the Baltics',), ('Switzerland',), ('Channel Islands',), ('Chile',), ('China',), ("Cote d'Ivoire",), ('Cameroon',), ('Congo, Dem. Rep.',), ('Congo, Rep.',), ('Colombia',), ('Comoros',), ('Cabo Verde',), ('Costa Rica',), ('Caribbean small states',), ('Cuba',), ('Cyprus',), ('Czech Republic',), ('Germany',), ('Djibouti',), ('Denmark',), ('Dominican Republic',), ('Algeria',), ('East Asia & Pacific (excluding high income)',), ('Early-demographic dividend',), ('East Asia & Pacific',), ('Europe & Central Asia (excluding high income)',), ('Europe & Central Asia',), ('Ecuador',), ('Egypt, Arab Rep.',), ('Euro area',), ('Eritrea',), ('Spain',), ('Estonia',), ('Ethiopia',), ('European Union',), ('Fragile and conflict affected situations',), ('Finland',), ('Fiji',), ('France',), ('Gabon',), ('United Kingdom',), ('Georgia',), ('Ghana',), ('Guinea',), ('Gambia, The',), ('Guinea-Bissau',), ('Equatorial Guinea',), ('Greece',), ('Guatemala',), ('Guam',), ('Guyana',), ('High income',), ('Hong Kong SAR, China',), ('Honduras',), ('Heavily indebted poor countries (HIPC)',), ('Croatia',), ('Haiti',), ('Hungary',), ('IBRD only',), ('IDA & IBRD total',), ('IDA total',), ('IDA blend',), ('Indonesia',), ('IDA only',), ('India',), ('Ireland',), ('Iran, Islamic Rep.',), ('Iraq',), ('Iceland',), ('Israel',), ('Italy',), ('Jamaica',), ('Jordan',), ('Japan',), ('Kazakhstan',), ('Kenya',), ('Kyrgyz Republic',), ('Cambodia',), ('Korea, Rep.',), ('Kuwait',), ('Latin America & Caribbean (excluding high income)',), ('Lao PDR',), ('Lebanon',), ('Liberia',), ('Libya',), ('St. Lucia',), ('Latin America & Caribbean',), ('Least developed countries: UN classification',), ('Low income',), ('Sri Lanka',), ('Lower middle income',), ('Low & middle income',), ('Lesotho',), ('Late-demographic dividend',), ('Lithuania',), ('Luxembourg',), ('Latvia',), ('Macao SAR, China',), ('Morocco',), ('Moldova',), ('Madagascar',), ('Maldives',), ('Middle East & North Africa',), ('Mexico',), ('Middle income',), ('North Macedonia',), ('Mali',), ('Malta',), ('Myanmar',), ('Middle East & North Africa (excluding high income)',), ('Montenegro',), ('Mongolia',), ('Mozambique',), ('Mauritania',), ('Mauritius',), ('Malawi',), ('Malaysia',), ('North America',), ('Namibia',), ('New Caledonia',), ('Niger',), ('Nigeria',), ('Nicaragua',), ('Netherlands',), ('Norway',), ('Nepal',), ('New Zealand',), ('OECD members',), ('Oman',), ('Other small states',), ('Pakistan',), ('Panama',), ('Peru',), ('Philippines',), ('Papua New Guinea',), ('Poland',), ('Pre-demographic dividend',), ('Puerto Rico',), ('Korea, Dem. People’s Rep.',), ('Portugal',), ('Paraguay',), ('West Bank and Gaza',), ('Pacific island small states',), ('Post-demographic dividend',), ('French Polynesia',), ('Qatar',), ('Romania',), ('Russian Federation',), ('Rwanda',), ('South Asia',), ('Saudi Arabia',), ('Sudan',), ('Senegal',), ('Singapore',), ('Solomon Islands',), ('Sierra Leone',), ('El Salvador',), ('Somalia',), ('Serbia',), ('Sub-Saharan Africa (excluding high income)',), ('South Sudan',), ('Sub-Saharan Africa',), ('Small states',), ('Sao Tome and Principe',), ('Suriname',), ('Slovak Republic',), ('Slovenia',), ('Sweden',), ('Eswatini',), ('Syrian Arab Republic',), ('Chad',), ('East Asia & Pacific (IDA & IBRD countries)',), ('Europe & Central Asia (IDA & IBRD countries)',), ('Togo',), ('Thailand',), ('Tajikistan',), ('Turkmenistan',), ('Latin America & the Caribbean (IDA & IBRD countries)',), ('Timor-Leste',), ('Middle East & North Africa (IDA & IBRD countries)',), ('Tonga',), ('South Asia (IDA & IBRD)',), ('Sub-Saharan Africa (IDA & IBRD countries)',), ('Trinidad and Tobago',), ('Tunisia',), ('Turkey',), ('Tanzania',), ('Uganda',), ('Ukraine',), ('Upper middle income',), ('Uruguay',), ('United States',), ('Uzbekistan',), ('St. Vincent and the Grenadines',), ('Venezuela, RB',), ('Virgin Islands (U.S.)',), ('Vietnam',), ('Vanuatu',), ('World',), ('Samoa',), ('Yemen, Rep.',), ('South Africa',), ('Zambia',), ('Zimbabwe',)]
<class 'list'>

## 男性劳动力劳动参与率

### 数据清洗

In [9]:
dfb = pd.read_csv('Labor_force_participation_rate_male.csv',encoding = 'utf8')

In [10]:
dfb

,country,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,82.833000,82.704002,82.594002,82.482002,82.386002,82.322998,82.297997,82.207001,82.148003,82.134003,82.127998
2,Angola,80.443001,80.464996,80.555000,80.582001,80.545998,80.478996,80.378998,80.306000,80.179001,80.086998,79.988998
3,Albania,64.292000,62.984001,64.411003,66.116997,62.646000,63.882000,65.161003,65.060997,64.996002,64.882004,64.751999
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,74.126656,74.627098,74.694286,74.776017,74.946682,74.582973,74.100492,73.748193,73.710772,73.699053,73.674687
6,United Arab Emirates,93.607002,94.542000,94.360001,94.234001,94.231003,94.402000,94.709999,94.063004,93.542999,93.367996,93.407997
7,Argentina,74.560997,74.322998,74.501999,74.102997,73.924004,73.474998,73.350998,73.167000,72.960999,72.821999,72.689003
8,Armenia,67.695999,71.616997,70.896004,70.514999,70.569000,70.786003,70.163002,69.750999,69.702003,69.866997,69.931999
9,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,72.331001,72.450996,72.246002,71.772003,71.412003,70.987000,71.140999,70.651001,70.702003,70.530998,70.349998
12,Austria,67.058998,66.863998,66.624001,66.648003,66.641998,66.101997,65.992996,66.222000,66.153000,65.917999,65.648003
13,Azerbaijan,67.598000,67.523003,67.372002,67.639000,67.963997,68.362000,68.681999,69.713997,70.044998,69.723000,69.351997
14,Burundi,78.570000,78.239998,77.814003,77.421997,77.046997,76.667999,77.026001,77.329002,77.612999,77.637001,77.606003
15,Belgium,60.375000,60.792999,59.674000,59.722000,59.706001,59.382999,59.144001,58.963001,59.109001,58.877998,58.632999
16,Benin,73.682999,72.950996,73.764000,73.699997,73.593002,73.487000,73.429001,73.383003,73.307999,73.309998,73.313004
17,Burkina Faso,83.025002,81.705002,80.305000,78.813004,77.223999,75.532997,75.455002,75.362999,75.249001,75.109001,74.961998
18,Bangladesh,83.700996,83.147003,82.599998,82.049004,81.492996,80.932999,80.369003,79.805000,81.411003,81.317001,81.219002
19,Bulgaria,61.018002,59.528000,58.233002,58.702999,59.590000,60.085999,60.147999,59.581001,61.740002,61.623001,61.487999
20,Bahrain,86.857002,87.386002,86.647003,86.848999,86.981003,87.058998,86.995003,86.945000,87.128998,87.249001,87.447998
21,"Bahamas, The",81.885002,81.862000,81.820000,81.697998,81.776001,81.896004,82.094002,82.113998,82.003998,82.011002,81.953003
22,Bosnia and Herzegovina,60.071999,59.925999,59.665001,59.339001,58.938000,58.534000,58.418999,58.800999,58.698002,58.585999,58.455002
23,Belarus,69.061996,69.551002,69.904999,70.246002,70.556000,70.807999,70.997002,70.949997,70.649002,70.325996,69.961998
24,Belize,82.633003,82.670998,82.917000,83.172997,82.516998,81.783997,80.948998,81.138000,81.321999,81.399002,81.494003
25,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bolivia,81.861000,82.045998,82.106003,80.013000,79.917999,81.809998,79.745003,81.036003,79.345001,79.349998,79.359001
27,Brazil,77.447998,76.612000,75.746002,76.242996,76.102997,75.657997,75.421997,74.945000,74.600998,74.431000,74.253998
28,Barbados,73.880997,73.052002,72.973999,71.963997,72.018997,69.049004,69.941002,70.496002,70.095001,69.633003,69.156998
29,Brunei Darussalam,75.511002,75.297997,75.002998,74.598000,74.114998,73.607002,73.094002,72.564003,72.016998,71.670998,71.304001
...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,79.019605,78.613943,78.249530,78.523680,78.212596,78.010498,77.894562,77.563643,77.478158,77.393846,77.303395
235,Timor-Leste,58.056000,56.160000,55.471001,54.772999,54.130001,53.507000,53.019001,52.714001,52.756001,52.605000,52.476002
236,Middle East & North Africa (IDA & IBRD countries),72.165194,72.294814,72.247723,72.172147,72.184825,71.666920,71.296166,71.315891,71.260589,71.172893,71.030007
237,Tonga,75.348999,75.101997,74.901001,74.819000,74.943001,74.772003,74.473000,74.329002,74.189003,74.138000,74.084999
238,South Asia (IDA & IBRD),81.394423,80.919256,80.471577,80.107659,79.993113,79.737364,79.616848,79.342473,79.254324,79.210024,79.167037
239,Sub-Saharan Africa (IDA & IBRD countries),74.350499,73.953413,73.696258,73.481620,73.306175,73.111042,73.024325,72.951749,72.877351,72.848077,72.815799
240,Trinidad and Tobago,75.732002,73.941002,73.046997,73.195999,73.196999,73.450996,73.525002,71.970001,71.758003,71.268997,70.736000
241,Tunisia,68.974998,69.667999,70.295998,70.920998,70.210999,70.170998,70.216003,70.197998,70.068001,69.882004,69.650002
242,Turkey,69.098999,69.640999,70.519997,69.820000,70.397003,71.241997,71.707001,72.162003,72.695000,72.553001,72.397003
243,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,89.172997,88.894997,88.595001,88.265999,87.906998,87.519997,87.442001,87.366997,87.264000,87.195999,87.123001
245,Uganda,76.040001,76.028000,76.026001,76.028000,75.884003,75.681999,75.441002,75.232002,74.987000,74.996002,75.009003
246,Ukraine,62.778000,62.964001,63.681999,63.909000,64.219002,63.063999,63.316002,63.141998,63.007999,62.794998,62.530998
247,Upper middle income,76.546208,76.217867,76.078794,76.056077,75.887011,75.695038,75.590244,75.362400,75.184513,74.897814,74.577476
248,Uruguay,77.057999,76.749001,76.822998,76.012001,75.837997,75.781998,75.139999,74.302002,73.681999,73.752998,73.818001
249,United States,70.774002,69.931999,69.361000,69.349998,68.990997,68.544998,68.432999,68.560997,68.487000,68.205002,67.925003
250,Uzbekistan,75.336998,75.646004,75.978996,76.355003,76.744003,77.105003,77.410004,77.641998,77.834999,77.963997,78.009003
251,St. Vincent and the Grenadines,79.929001,80.147003,80.172997,80.074997,79.940002,79.795998,79.625999,79.472000,79.356003,79.181000,78.969002
252,"Venezuela, RB",79.424004,79.315002,78.944000,78.223000,78.196999,78.120003,77.983002,77.661003,77.292000,77.112000,76.913002
253,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),68.315002,67.819000,67.162003,66.700996,66.061996,65.449997,64.878998,64.431000,64.002998,63.675999,63.342999
255,Vietnam,80.625000,81.343002,81.639999,81.577003,82.499001,82.651001,83.015999,82.400002,82.563004,82.467003,82.308998
256,Vanuatu,79.221001,79.517998,79.570999,79.527000,79.466003,79.443001,79.647003,79.563004,79.532997,79.624001,79.710999
257,World,76.322679,76.038789,75.862108,75.766834,75.629981,75.452084,75.328353,75.132452,75.025377,74.870419,74.701880
258,Samoa,40.414001,40.368000,39.792000,39.744999,39.926998,39.787998,39.596001,38.950001,38.745998,38.624001,38.465000
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",68.921997,68.796997,68.447998,68.153000,67.883003,67.599998,68.839996,69.986000,70.723999,70.809998,70.873001
261,South Africa,62.176998,60.452999,59.838001,60.334999,60.462002,60.654999,61.902000,62.050999,62.667000,62.630001,62.590000
262,Zambia,82.995003,82.230003,81.499001,80.740997,80.582001,80.402000,80.216003,80.057999,79.878998,79.795998,79.728996
263,Zimbabwe,88.370003,88.401001,88.496002,88.551002,88.668999,88.790001,88.873001,88.938004,88.920998,88.992996,89.049004

In [11]:
dfb.country

0                                                  Aruba
1                                            Afghanistan
2                                                 Angola
3                                                Albania
4                                                Andorra
5                                             Arab World
6                                   United Arab Emirates
7                                              Argentina
8                                                Armenia
9                                         American Samoa
10                                   Antigua and Barbuda
11                                             Australia
12                                               Austria
13                                            Azerbaijan
14                                               Burundi
15                                               Belgium
16                                                 Benin
17                                          Burkina Faso
18                                            Bangladesh
19                                              Bulgaria
20                                               Bahrain
21                                          Bahamas, The
22                                Bosnia and Herzegovina
23                                               Belarus
24                                                Belize
25                                               Bermuda
26                                               Bolivia
27                                                Brazil
28                                              Barbados
29                                     Brunei Darussalam
                             ...
234    Latin America & the Caribbean (IDA & IBRD coun...
235                                          Timor-Leste
236    Middle East & North Africa (IDA & IBRD countries)
237                                                Tonga
238                              South Asia (IDA & IBRD)
239            Sub-Saharan Africa (IDA & IBRD countries)
240                                  Trinidad and Tobago
241                                              Tunisia
242                                               Turkey
243                                               Tuvalu
244                                             Tanzania
245                                               Uganda
246                                              Ukraine
247                                  Upper middle income
248                                              Uruguay
249                                        United States
250                                           Uzbekistan
251                       St. Vincent and the Grenadines
252                                        Venezuela, RB
253                               British Virgin Islands
254                                Virgin Islands (U.S.)
255                                              Vietnam
256                                              Vanuatu
257                                                World
258                                                Samoa
259                                               Kosovo
260                                          Yemen, Rep.
261                                         South Africa
262                                               Zambia
263                                             Zimbabwe
Name: country, Length: 264, dtype: object

In [12]:
dfb.columns.values

array(['country', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019'], dtype=object)

In [13]:
dfb1 =dfb.dropna(axis=0,how='any') 
dfb1

,country,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Afghanistan,82.833000,82.704002,82.594002,82.482002,82.386002,82.322998,82.297997,82.207001,82.148003,82.134003,82.127998
2,Angola,80.443001,80.464996,80.555000,80.582001,80.545998,80.478996,80.378998,80.306000,80.179001,80.086998,79.988998
3,Albania,64.292000,62.984001,64.411003,66.116997,62.646000,63.882000,65.161003,65.060997,64.996002,64.882004,64.751999
5,Arab World,74.126656,74.627098,74.694286,74.776017,74.946682,74.582973,74.100492,73.748193,73.710772,73.699053,73.674687
6,United Arab Emirates,93.607002,94.542000,94.360001,94.234001,94.231003,94.402000,94.709999,94.063004,93.542999,93.367996,93.407997
7,Argentina,74.560997,74.322998,74.501999,74.102997,73.924004,73.474998,73.350998,73.167000,72.960999,72.821999,72.689003
8,Armenia,67.695999,71.616997,70.896004,70.514999,70.569000,70.786003,70.163002,69.750999,69.702003,69.866997,69.931999
11,Australia,72.331001,72.450996,72.246002,71.772003,71.412003,70.987000,71.140999,70.651001,70.702003,70.530998,70.349998
12,Austria,67.058998,66.863998,66.624001,66.648003,66.641998,66.101997,65.992996,66.222000,66.153000,65.917999,65.648003
13,Azerbaijan,67.598000,67.523003,67.372002,67.639000,67.963997,68.362000,68.681999,69.713997,70.044998,69.723000,69.351997
14,Burundi,78.570000,78.239998,77.814003,77.421997,77.046997,76.667999,77.026001,77.329002,77.612999,77.637001,77.606003
15,Belgium,60.375000,60.792999,59.674000,59.722000,59.706001,59.382999,59.144001,58.963001,59.109001,58.877998,58.632999
16,Benin,73.682999,72.950996,73.764000,73.699997,73.593002,73.487000,73.429001,73.383003,73.307999,73.309998,73.313004
17,Burkina Faso,83.025002,81.705002,80.305000,78.813004,77.223999,75.532997,75.455002,75.362999,75.249001,75.109001,74.961998
18,Bangladesh,83.700996,83.147003,82.599998,82.049004,81.492996,80.932999,80.369003,79.805000,81.411003,81.317001,81.219002
19,Bulgaria,61.018002,59.528000,58.233002,58.702999,59.590000,60.085999,60.147999,59.581001,61.740002,61.623001,61.487999
20,Bahrain,86.857002,87.386002,86.647003,86.848999,86.981003,87.058998,86.995003,86.945000,87.128998,87.249001,87.447998
21,"Bahamas, The",81.885002,81.862000,81.820000,81.697998,81.776001,81.896004,82.094002,82.113998,82.003998,82.011002,81.953003
22,Bosnia and Herzegovina,60.071999,59.925999,59.665001,59.339001,58.938000,58.534000,58.418999,58.800999,58.698002,58.585999,58.455002
23,Belarus,69.061996,69.551002,69.904999,70.246002,70.556000,70.807999,70.997002,70.949997,70.649002,70.325996,69.961998
24,Belize,82.633003,82.670998,82.917000,83.172997,82.516998,81.783997,80.948998,81.138000,81.321999,81.399002,81.494003
26,Bolivia,81.861000,82.045998,82.106003,80.013000,79.917999,81.809998,79.745003,81.036003,79.345001,79.349998,79.359001
27,Brazil,77.447998,76.612000,75.746002,76.242996,76.102997,75.657997,75.421997,74.945000,74.600998,74.431000,74.253998
28,Barbados,73.880997,73.052002,72.973999,71.963997,72.018997,69.049004,69.941002,70.496002,70.095001,69.633003,69.156998
29,Brunei Darussalam,75.511002,75.297997,75.002998,74.598000,74.114998,73.607002,73.094002,72.564003,72.016998,71.670998,71.304001
30,Bhutan,75.625999,74.318001,72.832001,67.309998,72.821999,72.418999,74.125000,74.225998,74.336998,74.490997,74.586998
31,Botswana,70.375000,67.278000,71.959999,75.524002,78.268997,78.263000,78.397003,78.407997,78.413002,78.640999,78.841003
32,Central African Republic,79.754997,79.660004,79.921997,80.071999,80.647003,80.595001,80.410004,80.132004,79.782997,79.803001,79.833000
33,Canada,71.772003,71.444000,71.282997,70.930000,70.785004,70.449997,70.452003,70.106003,70.023003,69.738998,69.436996
34,Central Europe and the Baltics,63.406101,63.751087,63.468811,63.836061,64.029553,64.555155,64.698604,64.766623,65.437795,65.145283,64.829162
...,...,...,...,...,...,...,...,...,...,...,...,...
231,Thailand,81.415001,80.047997,80.982002,80.883003,79.410004,78.523003,77.761002,76.723999,76.421997,76.153999,75.866997
232,Tajikistan,56.598000,57.032001,57.480999,57.897999,58.277000,58.618000,58.931000,59.228001,59.508999,59.736000,59.887001
233,Turkmenistan,75.866997,76.189003,76.556999,76.988998,77.435997,77.824997,78.094002,78.227997,78.264999,78.209999,78.124001
234,Latin America & the Caribbean (IDA & IBRD coun...,79.019605,78.613943,78.249530,78.523680,78.212596,78.010498,77.894562,77.563643,77.478158,77.393846,77.303395
235,Timor-Leste,58.056000,56.160000,55.471001,54.772999,54.130001,53.507000,53.019001,52.714001,52.756001,52.605000,52.476002
236,Middle East & North Africa (IDA & IBRD countries),72.165194,72.294814,72.247723,72.172147,72.184825,71.666920,71.296166,71.315891,71.260589,71.172893,71.030007
237,Tonga,75.348999,75.101997,74.901001,74.819000,74.943001,74.772003,74.473000,74.329002,74.189003,74.138000,74.084999
238,South Asia (IDA & IBRD),81.394423,80.919256,80.471577,80.107659,79.993113,79.737364,79.616848,79.342473,79.254324,79.210024,79.167037
239,Sub-Saharan Africa (IDA & IBRD countries),74.350499,73.953413,73.696258,73.481620,73.306175,73.111042,73.024325,72.951749,72.877351,72.848077,72.815799
240,Trinidad and Tobago,75.732002,73.941002,73.046997,73.195999,73.196999,73.450996,73.525002,71.970001,71.758003,71.268997,70.736000
241,Tunisia,68.974998,69.667999,70.295998,70.920998,70.210999,70.170998,70.216003,70.197998,70.068001,69.882004,69.650002
242,Turkey,69.098999,69.640999,70.519997,69.820000,70.397003,71.241997,71.707001,72.162003,72.695000,72.553001,72.397003
244,Tanzania,89.172997,88.894997,88.595001,88.265999,87.906998,87.519997,87.442001,87.366997,87.264000,87.195999,87.123001
245,Uganda,76.040001,76.028000,76.026001,76.028000,75.884003,75.681999,75.441002,75.232002,74.987000,74.996002,75.009003
246,Ukraine,62.778000,62.964001,63.681999,63.909000,64.219002,63.063999,63.316002,63.141998,63.007999,62.794998,62.530998
247,Upper middle income,76.546208,76.217867,76.078794,76.056077,75.887011,75.695038,75.590244,75.362400,75.184513,74.897814,74.577476
248,Uruguay,77.057999,76.749001,76.822998,76.012001,75.837997,75.781998,75.139999,74.302002,73.681999,73.752998,73.818001
249,United States,70.774002,69.931999,69.361000,69.349998,68.990997,68.544998,68.432999,68.560997,68.487000,68.205002,67.925003
250,Uzbekistan,75.336998,75.646004,75.978996,76.355003,76.744003,77.105003,77.410004,77.641998,77.834999,77.963997,78.009003
251,St. Vincent and the Grenadines,79.929001,80.147003,80.172997,80.074997,79.940002,79.795998,79.625999,79.472000,79.356003,79.181000,78.969002
252,"Venezuela, RB",79.424004,79.315002,78.944000,78.223000,78.196999,78.120003,77.983002,77.661003,77.292000,77.112000,76.913002
254,Virgin Islands (U.S.),68.315002,67.819000,67.162003,66.700996,66.061996,65.449997,64.878998,64.431000,64.002998,63.675999,63.342999
255,Vietnam,80.625000,81.343002,81.639999,81.577003,82.499001,82.651001,83.015999,82.400002,82.563004,82.467003,82.308998
256,Vanuatu,79.221001,79.517998,79.570999,79.527000,79.466003,79.443001,79.647003,79.563004,79.532997,79.624001,79.710999
257,World,76.322679,76.038789,75.862108,75.766834,75.629981,75.452084,75.328353,75.132452,75.025377,74.870419,74.701880
258,Samoa,40.414001,40.368000,39.792000,39.744999,39.926998,39.787998,39.596001,38.950001,38.745998,38.624001,38.465000
260,"Yemen, Rep.",68.921997,68.796997,68.447998,68.153000,67.883003,67.599998,68.839996,69.986000,70.723999,70.809998,70.873001
261,South Africa,62.176998,60.452999,59.838001,60.334999,60.462002,60.654999,61.902000,62.050999,62.667000,62.630001,62.590000
262,Zambia,82.995003,82.230003,81.499001,80.740997,80.582001,80.402000,80.216003,80.057999,79.878998,79.795998,79.728996
263,Zimbabwe,88.370003,88.401001,88.496002,88.551002,88.668999,88.790001,88.873001,88.938004,88.920998,88.992996,89.049004

In [14]:
dfb1.columns.values

array(['country', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019'], dtype=object)

In [15]:
dfb2=print(list(dfb1.country))
dfb2

['Afghanistan', 'Angola', 'Albania', 'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana', 'Central African Republic', 'Canada', 'Central Europe and the Baltics', 'Switzerland', 'Channel Islands', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Caribbean small states', 'Cuba', 'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Denmark', 'Dominican Republic', 'Algeria', 'East Asia & Pacific (excluding high income)', 'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.', 'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'European Union', 'Fragile and conflict affected situations', 'Finland', 'Fiji', 'France', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana', 'Guinea', 'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Guatemala', 'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China', 'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend', 'Indonesia', 'IDA only', 'India', 'Ireland', 'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Korea, Rep.', 'Kuwait', 'Latin America & Caribbean (excluding high income)', 'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Latin America & Caribbean', 'Least developed countries: UN classification', 'Low income', 'Sri Lanka', 'Lower middle income', 'Low & middle income', 'Lesotho', 'Late-demographic dividend', 'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China', 'Morocco', 'Moldova', 'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico', 'Middle income', 'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Middle East & North Africa (excluding high income)', 'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'OECD members', 'Oman', 'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend', 'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay', 'West Bank and Gaza', 'Pacific island small states', 'Post-demographic dividend', 'French Polynesia', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'Somalia', 'Serbia', 'Sub-Saharan Africa (excluding high income)', 'South Sudan', 'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini', 'Syrian Arab Republic', 'Chad', 'East Asia & Pacific (IDA & IBRD countries)', 'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)', 'Tonga', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tanzania', 'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan', 'St. Vincent and the Grenadines', 'Venezuela, RB', 'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe']

In [16]:
男性劳动力参与率 = list(zip(list(dfb1.country)))
print(男性劳动力参与率)
print(type(男性劳动力参与率))

[('Afghanistan',), ('Angola',), ('Albania',), ('Arab World',), ('United Arab Emirates',), ('Argentina',), ('Armenia',), ('Australia',), ('Austria',), ('Azerbaijan',), ('Burundi',), ('Belgium',), ('Benin',), ('Burkina Faso',), ('Bangladesh',), ('Bulgaria',), ('Bahrain',), ('Bahamas, The',), ('Bosnia and Herzegovina',), ('Belarus',), ('Belize',), ('Bolivia',), ('Brazil',), ('Barbados',), ('Brunei Darussalam',), ('Bhutan',), ('Botswana',), ('Central African Republic',), ('Canada',), ('Central Europe and the Baltics',), ('Switzerland',), ('Channel Islands',), ('Chile',), ('China',), ("Cote d'Ivoire",), ('Cameroon',), ('Congo, Dem. Rep.',), ('Congo, Rep.',), ('Colombia',), ('Comoros',), ('Cabo Verde',), ('Costa Rica',), ('Caribbean small states',), ('Cuba',), ('Cyprus',), ('Czech Republic',), ('Germany',), ('Djibouti',), ('Denmark',), ('Dominican Republic',), ('Algeria',), ('East Asia & Pacific (excluding high income)',), ('Early-demographic dividend',), ('East Asia & Pacific',), ('Europe & Central Asia (excluding high income)',), ('Europe & Central Asia',), ('Ecuador',), ('Egypt, Arab Rep.',), ('Euro area',), ('Eritrea',), ('Spain',), ('Estonia',), ('Ethiopia',), ('European Union',), ('Fragile and conflict affected situations',), ('Finland',), ('Fiji',), ('France',), ('Gabon',), ('United Kingdom',), ('Georgia',), ('Ghana',), ('Guinea',), ('Gambia, The',), ('Guinea-Bissau',), ('Equatorial Guinea',), ('Greece',), ('Guatemala',), ('Guam',), ('Guyana',), ('High income',), ('Hong Kong SAR, China',), ('Honduras',), ('Heavily indebted poor countries (HIPC)',), ('Croatia',), ('Haiti',), ('Hungary',), ('IBRD only',), ('IDA & IBRD total',), ('IDA total',), ('IDA blend',), ('Indonesia',), ('IDA only',), ('India',), ('Ireland',), ('Iran, Islamic Rep.',), ('Iraq',), ('Iceland',), ('Israel',), ('Italy',), ('Jamaica',), ('Jordan',), ('Japan',), ('Kazakhstan',), ('Kenya',), ('Kyrgyz Republic',), ('Cambodia',), ('Korea, Rep.',), ('Kuwait',), ('Latin America & Caribbean (excluding high income)',), ('Lao PDR',), ('Lebanon',), ('Liberia',), ('Libya',), ('St. Lucia',), ('Latin America & Caribbean',), ('Least developed countries: UN classification',), ('Low income',), ('Sri Lanka',), ('Lower middle income',), ('Low & middle income',), ('Lesotho',), ('Late-demographic dividend',), ('Lithuania',), ('Luxembourg',), ('Latvia',), ('Macao SAR, China',), ('Morocco',), ('Moldova',), ('Madagascar',), ('Maldives',), ('Middle East & North Africa',), ('Mexico',), ('Middle income',), ('North Macedonia',), ('Mali',), ('Malta',), ('Myanmar',), ('Middle East & North Africa (excluding high income)',), ('Montenegro',), ('Mongolia',), ('Mozambique',), ('Mauritania',), ('Mauritius',), ('Malawi',), ('Malaysia',), ('North America',), ('Namibia',), ('New Caledonia',), ('Niger',), ('Nigeria',), ('Nicaragua',), ('Netherlands',), ('Norway',), ('Nepal',), ('New Zealand',), ('OECD members',), ('Oman',), ('Other small states',), ('Pakistan',), ('Panama',), ('Peru',), ('Philippines',), ('Papua New Guinea',), ('Poland',), ('Pre-demographic dividend',), ('Puerto Rico',), ('Korea, Dem. People’s Rep.',), ('Portugal',), ('Paraguay',), ('West Bank and Gaza',), ('Pacific island small states',), ('Post-demographic dividend',), ('French Polynesia',), ('Qatar',), ('Romania',), ('Russian Federation',), ('Rwanda',), ('South Asia',), ('Saudi Arabia',), ('Sudan',), ('Senegal',), ('Singapore',), ('Solomon Islands',), ('Sierra Leone',), ('El Salvador',), ('Somalia',), ('Serbia',), ('Sub-Saharan Africa (excluding high income)',), ('South Sudan',), ('Sub-Saharan Africa',), ('Small states',), ('Sao Tome and Principe',), ('Suriname',), ('Slovak Republic',), ('Slovenia',), ('Sweden',), ('Eswatini',), ('Syrian Arab Republic',), ('Chad',), ('East Asia & Pacific (IDA & IBRD countries)',), ('Europe & Central Asia (IDA & IBRD countries)',), ('Togo',), ('Thailand',), ('Tajikistan',), ('Turkmenistan',), ('Latin America & the Caribbean (IDA & IBRD countries)',), ('Timor-Leste',), ('Middle East & North Africa (IDA & IBRD countries)',), ('Tonga',), ('South Asia (IDA & IBRD)',), ('Sub-Saharan Africa (IDA & IBRD countries)',), ('Trinidad and Tobago',), ('Tunisia',), ('Turkey',), ('Tanzania',), ('Uganda',), ('Ukraine',), ('Upper middle income',), ('Uruguay',), ('United States',), ('Uzbekistan',), ('St. Vincent and the Grenadines',), ('Venezuela, RB',), ('Virgin Islands (U.S.)',), ('Vietnam',), ('Vanuatu',), ('World',), ('Samoa',), ('Yemen, Rep.',), ('South Africa',), ('Zambia',), ('Zimbabwe',)]
<class 'list'>

## 女性劳动力劳动参与率

### 数据清洗

In [17]:
dfc = pd.read_csv('Labor_force_participation_rate_ female.csv',encoding = 'utf8')

In [18]:
dfc

,country,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,42.709000,42.735001,43.327999,44.117001,45.039001,46.016998,47.000999,47.765999,48.473999,48.660000,48.848999
2,Angola,75.255997,75.306999,75.344002,75.389000,75.432999,75.464996,75.478996,75.470001,75.450996,75.412003,75.372002
3,Albania,44.945000,45.693001,47.104000,48.806000,44.650002,44.789001,47.675999,47.459000,47.312000,47.191002,47.081001
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,20.052651,20.169026,20.268955,20.453085,20.753035,20.686165,20.492409,20.589288,20.536024,20.537448,20.525228
6,United Arab Emirates,42.514999,44.028999,45.143002,46.213001,47.263000,48.323002,49.396000,50.161999,51.266998,51.148998,51.067001
7,Argentina,48.823002,47.833000,48.102001,48.188000,47.790001,47.157001,47.825001,48.480000,49.118000,48.966999,48.813999
8,Armenia,48.299000,49.587002,52.091999,51.969002,52.631001,51.946999,51.166000,49.441002,49.419998,49.575001,49.674000
9,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,58.821999,58.706001,58.952000,58.826000,58.707001,58.648998,59.066002,59.247002,59.693001,59.645000,59.591000
12,Austria,53.373001,53.507000,53.839001,54.337002,54.598999,54.562000,54.535999,54.945999,54.868999,54.826000,54.745998
13,Azerbaijan,59.617001,60.223000,60.813999,61.104000,61.323002,61.923000,62.516998,62.963001,63.262001,63.112999,62.916000
14,Burundi,80.610001,80.349998,80.112000,79.917999,79.748001,79.573998,79.844002,80.079002,80.286003,80.348999,80.363998
15,Belgium,46.745998,47.488998,46.805000,46.889000,47.594002,48.011002,48.023998,47.765999,47.891998,47.889000,47.867001
16,Benin,68.933998,69.223999,68.088997,68.207001,68.351997,68.512001,68.680000,68.835999,69.016998,69.176002,69.334999
17,Burkina Faso,60.092999,59.717999,59.341000,58.971001,58.606998,58.249001,58.375999,58.497002,58.626999,58.462002,58.292000
18,Bangladesh,29.382000,29.882999,30.371000,30.864000,31.364000,31.871000,32.383999,32.889999,35.852001,35.999001,36.143002
19,Bulgaria,48.089001,47.698002,47.216999,47.825001,48.528000,48.629002,48.632999,47.764999,49.626999,49.529999,49.416000
20,Bahrain,42.604000,43.763000,43.004002,43.202999,43.404999,43.615002,43.800999,44.011002,44.352001,44.473000,44.612999
21,"Bahamas, The",68.639999,68.742996,68.555000,68.616997,68.436996,68.180000,67.744003,67.530998,67.527000,67.568001,67.540001
22,Bosnia and Herzegovina,37.223999,37.063999,36.837002,36.547001,36.273998,35.972000,35.667000,35.258999,35.726002,35.627998,35.521000
23,Belarus,57.152000,57.540001,57.861000,58.136002,58.358002,58.527000,58.641998,58.665001,58.395000,58.126999,57.827000
24,Belize,50.747002,51.938000,53.235001,54.527000,53.701000,52.930000,52.212002,52.768002,52.924999,53.280998,53.648998
25,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bolivia,62.367001,62.019001,61.651001,57.944000,58.820999,60.900002,54.508999,60.321999,56.585999,56.595001,56.611000
27,Brazil,54.966000,53.576000,52.173000,53.077999,52.976002,52.860001,53.377998,53.320999,54.167999,54.029999,53.882000
28,Barbados,63.606998,63.492001,63.287998,62.061001,63.230999,61.855999,61.860001,62.568001,62.234001,61.894001,61.528000
29,Brunei Darussalam,56.659000,56.928001,57.191002,57.416000,57.618000,57.810001,58.000000,58.188000,58.362000,58.220001,58.071999
...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,51.629659,51.185245,50.864398,51.698867,51.559410,51.260341,51.521785,51.721148,52.035162,52.052128,52.059513
235,Timor-Leste,27.209000,26.469000,26.180000,25.913000,25.681000,25.450001,25.270000,25.160000,25.202000,25.034000,24.851000
236,Middle East & North Africa (IDA & IBRD countries),18.371887,18.220439,17.979422,17.871078,17.951179,17.612709,17.575307,18.002983,17.846133,17.801293,17.738633
237,Tonga,45.432999,45.334999,45.306999,45.316002,45.358002,45.323002,45.230000,45.244999,45.251999,45.250000,45.209999
238,South Asia (IDA & IBRD),27.832411,27.050263,26.050446,25.082699,25.354484,25.580315,25.875504,26.062319,26.460767,26.371171,26.278402
239,Sub-Saharan Africa (IDA & IBRD countries),61.260450,60.996748,60.923675,60.850175,60.929255,60.901829,61.045061,61.152641,61.363740,61.381375,61.395935
240,Trinidad and Tobago,51.660999,51.025002,50.359001,51.640999,51.896000,52.256001,50.848999,51.210999,50.511002,50.354000,50.147999
241,Tunisia,24.385000,24.459999,24.445999,25.245001,25.143000,24.933001,24.726999,24.468000,24.226000,24.080000,23.909000
242,Turkey,25.478001,27.033001,28.323000,28.879000,30.101999,30.243000,31.475000,32.507000,33.571999,33.520000,33.458000
243,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,84.781998,83.900002,82.952003,81.917000,80.780998,79.533997,79.553001,79.570000,79.577003,79.389000,79.203003
245,Uganda,65.688004,65.876999,66.081001,66.291000,66.430000,66.582001,66.744003,66.885002,67.037003,67.151001,67.269997
246,Ukraine,48.445000,48.410000,48.250999,47.485001,48.376999,47.040001,47.360001,47.075001,46.938000,46.679001,46.396999
247,Upper middle income,56.201803,55.670890,55.570200,55.603981,55.382775,55.061678,54.994629,54.828160,54.693724,54.296955,53.875677
248,Uruguay,55.616001,55.334000,55.978001,55.787998,54.973999,55.965000,55.724998,55.926998,55.597000,55.771000,55.931000
249,United States,58.144001,57.501999,56.930000,56.701000,56.292000,56.111000,55.834000,55.993999,56.313000,56.047001,55.778000
250,Uzbekistan,52.606998,52.736000,52.865002,52.997002,53.129002,53.244999,53.327999,53.377998,53.419998,53.412998,53.355999
251,St. Vincent and the Grenadines,56.441002,56.416000,56.487000,56.708000,56.938999,57.042999,57.071999,57.206001,57.195999,57.278999,57.313999
252,"Venezuela, RB",51.095001,50.619999,50.995998,50.584000,50.773998,50.542000,50.122002,48.775002,47.694000,47.743000,47.783001
253,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),58.008999,57.865002,57.429001,56.706001,56.375999,56.105999,55.855000,55.743000,55.769001,55.617001,55.433998
255,Vietnam,71.398003,71.305000,71.459999,71.969002,72.902000,73.195000,72.945999,72.642998,72.697998,72.649002,72.541000
256,Vanuatu,61.069000,61.241001,61.323002,61.354000,61.379002,61.411999,61.584999,61.528000,61.484001,61.507999,61.533001
257,World,49.091606,48.677926,48.363017,48.164190,48.114513,48.033072,48.025554,48.027061,48.089157,47.883420,47.662671
258,Samoa,24.337999,24.301001,24.173000,24.118000,24.091000,24.011999,23.916000,23.799000,23.740000,23.674999,23.587999
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",10.798000,10.049000,8.848000,7.799000,6.884000,6.083000,6.106000,6.117000,6.138000,5.983000,5.827000
261,South Africa,46.286999,44.728001,45.198002,45.418999,46.387001,46.612000,47.801998,47.797001,48.922001,48.848999,48.768002
262,Zambia,71.610001,71.059998,70.542999,70.021004,70.155998,70.295998,70.445000,70.585999,70.733002,70.752998,70.785004
263,Zimbabwe,77.295998,77.362000,77.492996,77.649002,77.796997,77.935997,78.069000,78.219002,78.387001,78.568001,78.733002

In [19]:
dfc1 =dfc.dropna(axis=0,how='any') 
dfc1

,country,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Afghanistan,42.709000,42.735001,43.327999,44.117001,45.039001,46.016998,47.000999,47.765999,48.473999,48.660000,48.848999
2,Angola,75.255997,75.306999,75.344002,75.389000,75.432999,75.464996,75.478996,75.470001,75.450996,75.412003,75.372002
3,Albania,44.945000,45.693001,47.104000,48.806000,44.650002,44.789001,47.675999,47.459000,47.312000,47.191002,47.081001
5,Arab World,20.052651,20.169026,20.268955,20.453085,20.753035,20.686165,20.492409,20.589288,20.536024,20.537448,20.525228
6,United Arab Emirates,42.514999,44.028999,45.143002,46.213001,47.263000,48.323002,49.396000,50.161999,51.266998,51.148998,51.067001
7,Argentina,48.823002,47.833000,48.102001,48.188000,47.790001,47.157001,47.825001,48.480000,49.118000,48.966999,48.813999
8,Armenia,48.299000,49.587002,52.091999,51.969002,52.631001,51.946999,51.166000,49.441002,49.419998,49.575001,49.674000
11,Australia,58.821999,58.706001,58.952000,58.826000,58.707001,58.648998,59.066002,59.247002,59.693001,59.645000,59.591000
12,Austria,53.373001,53.507000,53.839001,54.337002,54.598999,54.562000,54.535999,54.945999,54.868999,54.826000,54.745998
13,Azerbaijan,59.617001,60.223000,60.813999,61.104000,61.323002,61.923000,62.516998,62.963001,63.262001,63.112999,62.916000
14,Burundi,80.610001,80.349998,80.112000,79.917999,79.748001,79.573998,79.844002,80.079002,80.286003,80.348999,80.363998
15,Belgium,46.745998,47.488998,46.805000,46.889000,47.594002,48.011002,48.023998,47.765999,47.891998,47.889000,47.867001
16,Benin,68.933998,69.223999,68.088997,68.207001,68.351997,68.512001,68.680000,68.835999,69.016998,69.176002,69.334999
17,Burkina Faso,60.092999,59.717999,59.341000,58.971001,58.606998,58.249001,58.375999,58.497002,58.626999,58.462002,58.292000
18,Bangladesh,29.382000,29.882999,30.371000,30.864000,31.364000,31.871000,32.383999,32.889999,35.852001,35.999001,36.143002
19,Bulgaria,48.089001,47.698002,47.216999,47.825001,48.528000,48.629002,48.632999,47.764999,49.626999,49.529999,49.416000
20,Bahrain,42.604000,43.763000,43.004002,43.202999,43.404999,43.615002,43.800999,44.011002,44.352001,44.473000,44.612999
21,"Bahamas, The",68.639999,68.742996,68.555000,68.616997,68.436996,68.180000,67.744003,67.530998,67.527000,67.568001,67.540001
22,Bosnia and Herzegovina,37.223999,37.063999,36.837002,36.547001,36.273998,35.972000,35.667000,35.258999,35.726002,35.627998,35.521000
23,Belarus,57.152000,57.540001,57.861000,58.136002,58.358002,58.527000,58.641998,58.665001,58.395000,58.126999,57.827000
24,Belize,50.747002,51.938000,53.235001,54.527000,53.701000,52.930000,52.212002,52.768002,52.924999,53.280998,53.648998
26,Bolivia,62.367001,62.019001,61.651001,57.944000,58.820999,60.900002,54.508999,60.321999,56.585999,56.595001,56.611000
27,Brazil,54.966000,53.576000,52.173000,53.077999,52.976002,52.860001,53.377998,53.320999,54.167999,54.029999,53.882000
28,Barbados,63.606998,63.492001,63.287998,62.061001,63.230999,61.855999,61.860001,62.568001,62.234001,61.894001,61.528000
29,Brunei Darussalam,56.659000,56.928001,57.191002,57.416000,57.618000,57.810001,58.000000,58.188000,58.362000,58.220001,58.071999
30,Bhutan,67.111000,64.556999,62.270000,63.502998,58.187000,54.931000,57.764999,57.895000,57.979000,58.202999,58.389000
31,Botswana,56.265999,53.546001,57.425999,61.106998,64.554001,64.907997,65.231003,65.524002,65.836998,66.192001,66.519997
32,Central African Republic,65.655998,65.663002,65.505997,65.321999,65.056000,64.838997,64.625000,64.691002,64.791000,64.723999,64.667000
33,Canada,61.874001,61.858002,61.601002,61.612000,61.683998,61.087002,60.770000,60.806999,61.015999,60.846001,60.658001
34,Central Europe and the Baltics,47.557086,47.988688,47.890527,48.313518,48.408511,48.811783,48.818785,48.807143,49.423060,49.226387,49.018014
...,...,...,...,...,...,...,...,...,...,...,...,...
231,Thailand,64.795998,63.848999,65.963997,65.171997,62.443001,61.446999,60.957001,60.061001,59.761002,59.465000,59.150002
232,Tajikistan,29.667999,29.502001,29.261000,28.990999,28.712999,28.476000,28.291000,28.084999,27.886999,27.794001,27.684999
233,Turkmenistan,52.314999,52.418999,52.530998,52.680000,52.830002,52.938999,52.994999,52.986000,52.926998,52.789001,52.633999
234,Latin America & the Caribbean (IDA & IBRD coun...,51.629659,51.185245,50.864398,51.698867,51.559410,51.260341,51.521785,51.721148,52.035162,52.052128,52.059513
235,Timor-Leste,27.209000,26.469000,26.180000,25.913000,25.681000,25.450001,25.270000,25.160000,25.202000,25.034000,24.851000
236,Middle East & North Africa (IDA & IBRD countries),18.371887,18.220439,17.979422,17.871078,17.951179,17.612709,17.575307,18.002983,17.846133,17.801293,17.738633
237,Tonga,45.432999,45.334999,45.306999,45.316002,45.358002,45.323002,45.230000,45.244999,45.251999,45.250000,45.209999
238,South Asia (IDA & IBRD),27.832411,27.050263,26.050446,25.082699,25.354484,25.580315,25.875504,26.062319,26.460767,26.371171,26.278402
239,Sub-Saharan Africa (IDA & IBRD countries),61.260450,60.996748,60.923675,60.850175,60.929255,60.901829,61.045061,61.152641,61.363740,61.381375,61.395935
240,Trinidad and Tobago,51.660999,51.025002,50.359001,51.640999,51.896000,52.256001,50.848999,51.210999,50.511002,50.354000,50.147999
241,Tunisia,24.385000,24.459999,24.445999,25.245001,25.143000,24.933001,24.726999,24.468000,24.226000,24.080000,23.909000
242,Turkey,25.478001,27.033001,28.323000,28.879000,30.101999,30.243000,31.475000,32.507000,33.571999,33.520000,33.458000
244,Tanzania,84.781998,83.900002,82.952003,81.917000,80.780998,79.533997,79.553001,79.570000,79.577003,79.389000,79.203003
245,Uganda,65.688004,65.876999,66.081001,66.291000,66.430000,66.582001,66.744003,66.885002,67.037003,67.151001,67.269997
246,Ukraine,48.445000,48.410000,48.250999,47.485001,48.376999,47.040001,47.360001,47.075001,46.938000,46.679001,46.396999
247,Upper middle income,56.201803,55.670890,55.570200,55.603981,55.382775,55.061678,54.994629,54.828160,54.693724,54.296955,53.875677
248,Uruguay,55.616001,55.334000,55.978001,55.787998,54.973999,55.965000,55.724998,55.926998,55.597000,55.771000,55.931000
249,United States,58.144001,57.501999,56.930000,56.701000,56.292000,56.111000,55.834000,55.993999,56.313000,56.047001,55.778000
250,Uzbekistan,52.606998,52.736000,52.865002,52.997002,53.129002,53.244999,53.327999,53.377998,53.419998,53.412998,53.355999
251,St. Vincent and the Grenadines,56.441002,56.416000,56.487000,56.708000,56.938999,57.042999,57.071999,57.206001,57.195999,57.278999,57.313999
252,"Venezuela, RB",51.095001,50.619999,50.995998,50.584000,50.773998,50.542000,50.122002,48.775002,47.694000,47.743000,47.783001
254,Virgin Islands (U.S.),58.008999,57.865002,57.429001,56.706001,56.375999,56.105999,55.855000,55.743000,55.769001,55.617001,55.433998
255,Vietnam,71.398003,71.305000,71.459999,71.969002,72.902000,73.195000,72.945999,72.642998,72.697998,72.649002,72.541000
256,Vanuatu,61.069000,61.241001,61.323002,61.354000,61.379002,61.411999,61.584999,61.528000,61.484001,61.507999,61.533001
257,World,49.091606,48.677926,48.363017,48.164190,48.114513,48.033072,48.025554,48.027061,48.089157,47.883420,47.662671
258,Samoa,24.337999,24.301001,24.173000,24.118000,24.091000,24.011999,23.916000,23.799000,23.740000,23.674999,23.587999
260,"Yemen, Rep.",10.798000,10.049000,8.848000,7.799000,6.884000,6.083000,6.106000,6.117000,6.138000,5.983000,5.827000
261,South Africa,46.286999,44.728001,45.198002,45.418999,46.387001,46.612000,47.801998,47.797001,48.922001,48.848999,48.768002
262,Zambia,71.610001,71.059998,70.542999,70.021004,70.155998,70.295998,70.445000,70.585999,70.733002,70.752998,70.785004
263,Zimbabwe,77.295998,77.362000,77.492996,77.649002,77.796997,77.935997,78.069000,78.219002,78.387001,78.568001,78.733002

In [26]:
女性劳动力参与率 = list(zip(list(dfc1.country)))
print(女性劳动力参与率)
print(type(女性劳动力参与率))

[('Afghanistan',), ('Angola',), ('Albania',), ('Arab World',), ('United Arab Emirates',), ('Argentina',), ('Armenia',), ('Australia',), ('Austria',), ('Azerbaijan',), ('Burundi',), ('Belgium',), ('Benin',), ('Burkina Faso',), ('Bangladesh',), ('Bulgaria',), ('Bahrain',), ('Bahamas, The',), ('Bosnia and Herzegovina',), ('Belarus',), ('Belize',), ('Bolivia',), ('Brazil',), ('Barbados',), ('Brunei Darussalam',), ('Bhutan',), ('Botswana',), ('Central African Republic',), ('Canada',), ('Central Europe and the Baltics',), ('Switzerland',), ('Channel Islands',), ('Chile',), ('China',), ("Cote d'Ivoire",), ('Cameroon',), ('Congo, Dem. Rep.',), ('Congo, Rep.',), ('Colombia',), ('Comoros',), ('Cabo Verde',), ('Costa Rica',), ('Caribbean small states',), ('Cuba',), ('Cyprus',), ('Czech Republic',), ('Germany',), ('Djibouti',), ('Denmark',), ('Dominican Republic',), ('Algeria',), ('East Asia & Pacific (excluding high income)',), ('Early-demographic dividend',), ('East Asia & Pacific',), ('Europe & Central Asia (excluding high income)',), ('Europe & Central Asia',), ('Ecuador',), ('Egypt, Arab Rep.',), ('Euro area',), ('Eritrea',), ('Spain',), ('Estonia',), ('Ethiopia',), ('European Union',), ('Fragile and conflict affected situations',), ('Finland',), ('Fiji',), ('France',), ('Gabon',), ('United Kingdom',), ('Georgia',), ('Ghana',), ('Guinea',), ('Gambia, The',), ('Guinea-Bissau',), ('Equatorial Guinea',), ('Greece',), ('Guatemala',), ('Guam',), ('Guyana',), ('High income',), ('Hong Kong SAR, China',), ('Honduras',), ('Heavily indebted poor countries (HIPC)',), ('Croatia',), ('Haiti',), ('Hungary',), ('IBRD only',), ('IDA & IBRD total',), ('IDA total',), ('IDA blend',), ('Indonesia',), ('IDA only',), ('India',), ('Ireland',), ('Iran, Islamic Rep.',), ('Iraq',), ('Iceland',), ('Israel',), ('Italy',), ('Jamaica',), ('Jordan',), ('Japan',), ('Kazakhstan',), ('Kenya',), ('Kyrgyz Republic',), ('Cambodia',), ('Korea, Rep.',), ('Kuwait',), ('Latin America & Caribbean (excluding high income)',), ('Lao PDR',), ('Lebanon',), ('Liberia',), ('Libya',), ('St. Lucia',), ('Latin America & Caribbean',), ('Least developed countries: UN classification',), ('Low income',), ('Sri Lanka',), ('Lower middle income',), ('Low & middle income',), ('Lesotho',), ('Late-demographic dividend',), ('Lithuania',), ('Luxembourg',), ('Latvia',), ('Macao SAR, China',), ('Morocco',), ('Moldova',), ('Madagascar',), ('Maldives',), ('Middle East & North Africa',), ('Mexico',), ('Middle income',), ('North Macedonia',), ('Mali',), ('Malta',), ('Myanmar',), ('Middle East & North Africa (excluding high income)',), ('Montenegro',), ('Mongolia',), ('Mozambique',), ('Mauritania',), ('Mauritius',), ('Malawi',), ('Malaysia',), ('North America',), ('Namibia',), ('New Caledonia',), ('Niger',), ('Nigeria',), ('Nicaragua',), ('Netherlands',), ('Norway',), ('Nepal',), ('New Zealand',), ('OECD members',), ('Oman',), ('Other small states',), ('Pakistan',), ('Panama',), ('Peru',), ('Philippines',), ('Papua New Guinea',), ('Poland',), ('Pre-demographic dividend',), ('Puerto Rico',), ('Korea, Dem. People’s Rep.',), ('Portugal',), ('Paraguay',), ('West Bank and Gaza',), ('Pacific island small states',), ('Post-demographic dividend',), ('French Polynesia',), ('Qatar',), ('Romania',), ('Russian Federation',), ('Rwanda',), ('South Asia',), ('Saudi Arabia',), ('Sudan',), ('Senegal',), ('Singapore',), ('Solomon Islands',), ('Sierra Leone',), ('El Salvador',), ('Somalia',), ('Serbia',), ('Sub-Saharan Africa (excluding high income)',), ('South Sudan',), ('Sub-Saharan Africa',), ('Small states',), ('Sao Tome and Principe',), ('Suriname',), ('Slovak Republic',), ('Slovenia',), ('Sweden',), ('Eswatini',), ('Syrian Arab Republic',), ('Chad',), ('East Asia & Pacific (IDA & IBRD countries)',), ('Europe & Central Asia (IDA & IBRD countries)',), ('Togo',), ('Thailand',), ('Tajikistan',), ('Turkmenistan',), ('Latin America & the Caribbean (IDA & IBRD countries)',), ('Timor-Leste',), ('Middle East & North Africa (IDA & IBRD countries)',), ('Tonga',), ('South Asia (IDA & IBRD)',), ('Sub-Saharan Africa (IDA & IBRD countries)',), ('Trinidad and Tobago',), ('Tunisia',), ('Turkey',), ('Tanzania',), ('Uganda',), ('Ukraine',), ('Upper middle income',), ('Uruguay',), ('United States',), ('Uzbekistan',), ('St. Vincent and the Grenadines',), ('Venezuela, RB',), ('Virgin Islands (U.S.)',), ('Vietnam',), ('Vanuatu',), ('World',), ('Samoa',), ('Yemen, Rep.',), ('South Africa',), ('Zambia',), ('Zimbabwe',)]
<class 'list'>

### 生成图表及数据故事

In [27]:
from pyecharts.charts import Bar,Tab,Line,Map,Timeline,Grid,Scatter
from pyecharts import options as opts 
import pandas as pd

In [31]:
from pyecharts.faker import Faker
from pyecharts import options as opts
from pyecharts.charts import Bar, Tab, Pie, Line
from pyecharts.components import Table

def timeline_map_a() -> Timeline:
    tl = Timeline()
    for i in range(2009,2020):
        map0 = (
            Map()
            .add(
                "总就业人口比率", (list(zip(list(dfa1.country),list(dfa1["{}".format(i)])))), "world",is_map_symbol_show = False
            )
            .set_global_opts(
                title_opts=opts.TitleOpts(title="".format(i),subtitle="",
                                         subtitle_textstyle_opts=opts.TextStyleOpts(color="red",font_size=16,font_style="italic")),
                visualmap_opts=opts.VisualMapOpts(min_=0, max_=100,series_index=0),
            
            )
        )
        tl.add(map0, "{}".format(i))
    return tl

def timeline_map_b() -> Timeline:
    tl = Timeline()
    for i in range(2009,2020):
        map0 = (
            Map()
            .add(
                "男性劳动力参与率", (list(zip(list(dfb1.country),list(dfb1["{}".format(i)])))), "world",is_map_symbol_show = False
            )
            .set_global_opts(
                title_opts=opts.TitleOpts(title="".format(i),subtitle="",
                                         subtitle_textstyle_opts=opts.TextStyleOpts(color="blue",font_size=16,font_style="italic")),
                visualmap_opts=opts.VisualMapOpts(min_=0, max_=100,series_index=0),
            
            )
        )
        tl.add(map0, "{}".format(i))
    return tl

def timeline_map_c() -> Timeline:
    tl = Timeline()
    for i in range(2009,2020):
        map0 = (
            Map()
            .add(
                "女性劳动力参与率", (list(zip(list(dfc1.country),list(dfc1["{}".format(i)])))), "world",is_map_symbol_show = False
            )
            .set_global_opts(
                title_opts=opts.TitleOpts(title="".format(i),subtitle="",
                                         subtitle_textstyle_opts=opts.TextStyleOpts(color="blue",font_size=16,font_style="italic")),
                visualmap_opts=opts.VisualMapOpts(min_=0, max_=100,series_index=0),
            
            )
        )
        tl.add(map0, "{}".format(i))
    return tl

tab = Tab()
tab.add(timeline_map_a(), "总就业人口比率")
tab.add(timeline_map_b(), "男性劳动力参与率")
tab.add(timeline_map_c(), "女性劳动力参与率")
tab.render()

'C:\\Users\\Administrator\\Desktop\\王子佳\\render.html'

## 十年间总体分析

- **最近十年间，各国总就业人口比率、男性劳动力参与率、女性劳动率参与率都处于比较稳定的状态，没有大幅度的变化。**

- **男性劳动力参与率普遍达到60%以上，男性劳动力参与比率在60%-90%不等，说明在世界各国，男性劳动力参与劳动都比较普遍。**

- **女性劳动力参与劳动比率在世界范围内有较大差异。在伊斯兰教、印度教等宗教地区，女性劳动力参与率比较低，在30%以下；而在撒哈拉以南地区和一些东南亚国家，女性劳动力参与率则比较高，达到70%以上。在欧美等中高收入或高收入国家，女性劳动参与率普遍在50%-70%。与男性劳动力相比，女性劳动力无法参与劳动的原因将是我们接下来的讨论内容。**

## 各国总就业人口比率分析

- **总就业人口比率达到80%的国家有7个，非洲国家占5个，分别是卢旺达、坦桑尼亚、马达加斯加、阿拉伯联合酋长国、卡塔尔；亚洲国家占2个，分别是尼泊尔和柬埔寨。**

- **总就业人口比率在50%以下的国家主要集中在欧洲南部和非洲，南美洲的圭亚那、苏里南，亚洲的塔吉克斯坦、东帝汶，大洋洲的巴布新几内亚。由于南美洲、亚洲、大洋洲的部分国家都是属于知名度及经济文化各方面极不发达的国家，因此不参与此次讨论。**

## 女性劳动力参与劳动比率分析

- **女性劳动力参与劳动的比率十年间有些许变化，女性劳动力参与劳动比率达到80%以上的国家2009年有6个，非洲国家占5个，分别为马达加斯加、坦桑尼亚、卢旺达、莫桑比克，亚洲国家占1个，柬埔寨。到2012年，柬埔寨的女性劳动力比率下降到80%以下，尼泊尔的女性劳动力参与比率上升到80%以上。到2014年，非洲仅剩马达加斯加和卢旺达女性劳动参与率在80%以上，亚洲也仅剩尼泊尔。从大趋势来看，女性劳动力参与劳动的比率在逐步下降。**

- **女性劳动力参与比率在30%以下的国家主要集中在北非和南亚。北非主要信奉伊斯兰教，南亚主要信奉印度教和佛教。由于南亚和北非地区国家人均收入程度差异较大，因此推断宗教是这些地区决定女性劳动力参与劳动的主要原因之一。**

- **十年间，一些国家女性劳动力参与劳动比率上升，脱离女性劳动力参与比率低的行列。2011年，孟加拉国女性劳动力参与劳动比率上升，2013年，土耳其女性劳动力参与劳动比率上升，2015年，阿曼女性劳动力参与比率上升。但这些国家都不是宗教十分普及的国家，因此女性劳动力参与率上升应该有其他原因。**

## 世界各国人均收入程度

### 数据清洗

In [32]:
dfd = pd.read_csv('Country_income.csv',encoding = 'utf8')

In [33]:
dfd

,country,Region,IncomeGroup
0,Aruba,Latin America & Caribbean,High income
1,Andorra,Europe & Central Asia,High income
2,United Arab Emirates,Middle East & North Africa,High income
3,Antigua and Barbuda,Latin America & Caribbean,High income
4,Australia,East Asia & Pacific,High income
5,Austria,Europe & Central Asia,High income
6,Belgium,Europe & Central Asia,High income
7,Bahrain,Middle East & North Africa,High income
8,"Bahamas, The",Latin America & Caribbean,High income
9,Bermuda,North America,High income
10,Barbados,Latin America & Caribbean,High income
11,Brunei Darussalam,East Asia & Pacific,High income
12,Canada,North America,High income
13,Switzerland,Europe & Central Asia,High income
14,Channel Islands,Europe & Central Asia,High income
15,Chile,Latin America & Caribbean,High income
16,Curacao,Latin America & Caribbean,High income
17,Cayman Islands,Latin America & Caribbean,High income
18,Cyprus,Europe & Central Asia,High income
19,Czech Republic,Europe & Central Asia,High income
20,Germany,Europe & Central Asia,High income
21,Denmark,Europe & Central Asia,High income
22,Spain,Europe & Central Asia,High income
23,Estonia,Europe & Central Asia,High income
24,Finland,Europe & Central Asia,High income
25,France,Europe & Central Asia,High income
26,Faroe Islands,Europe & Central Asia,High income
27,United Kingdom,Europe & Central Asia,High income
28,Gibraltar,Europe & Central Asia,High income
29,Greece,Europe & Central Asia,High income
...,...,...,...
234,IDA only,NaN,NaN
235,Kuwait,NaN,NaN
236,St. Lucia,NaN,NaN
237,Latin America & Caribbean,NaN,NaN
238,Least developed countries: UN classification,NaN,NaN
239,Sri Lanka,NaN,NaN
240,Lower middle income,NaN,NaN
241,Lesotho,NaN,NaN
242,Maldives,NaN,NaN
243,Marshall Islands,NaN,NaN
244,Myanmar,NaN,NaN
245,Malaysia,NaN,NaN
246,New Zealand,NaN,NaN
247,Oman,NaN,NaN
248,Poland,NaN,NaN
249,West Bank and Gaza,NaN,NaN
250,Pacific island small states,NaN,NaN
251,Rwanda,NaN,NaN
252,Serbia,NaN,NaN
253,South Sudan,NaN,NaN
254,Sub-Saharan Africa,NaN,NaN
255,Chad,NaN,NaN
256,East Asia & Pacific (IDA & IBRD countries),NaN,NaN
257,Turkmenistan,NaN,NaN
258,Timor-Leste,NaN,NaN
259,Tonga,NaN,NaN
260,South Asia (IDA & IBRD),NaN,NaN
261,Ukraine,NaN,NaN
262,Vanuatu,NaN,NaN
263,Zimbabwe,NaN,NaN

In [34]:
dfd1 =dfd.dropna(axis=0,how='any') 
dfd1

,country,Region,IncomeGroup
0,Aruba,Latin America & Caribbean,High income
1,Andorra,Europe & Central Asia,High income
2,United Arab Emirates,Middle East & North Africa,High income
3,Antigua and Barbuda,Latin America & Caribbean,High income
4,Australia,East Asia & Pacific,High income
5,Austria,Europe & Central Asia,High income
6,Belgium,Europe & Central Asia,High income
7,Bahrain,Middle East & North Africa,High income
8,"Bahamas, The",Latin America & Caribbean,High income
9,Bermuda,North America,High income
10,Barbados,Latin America & Caribbean,High income
11,Brunei Darussalam,East Asia & Pacific,High income
12,Canada,North America,High income
13,Switzerland,Europe & Central Asia,High income
14,Channel Islands,Europe & Central Asia,High income
15,Chile,Latin America & Caribbean,High income
16,Curacao,Latin America & Caribbean,High income
17,Cayman Islands,Latin America & Caribbean,High income
18,Cyprus,Europe & Central Asia,High income
19,Czech Republic,Europe & Central Asia,High income
20,Germany,Europe & Central Asia,High income
21,Denmark,Europe & Central Asia,High income
22,Spain,Europe & Central Asia,High income
23,Estonia,Europe & Central Asia,High income
24,Finland,Europe & Central Asia,High income
25,France,Europe & Central Asia,High income
26,Faroe Islands,Europe & Central Asia,High income
27,United Kingdom,Europe & Central Asia,High income
28,Gibraltar,Europe & Central Asia,High income
29,Greece,Europe & Central Asia,High income
...,...,...,...
187,Japan,Europe & Central Asia,Upper middle income
188,Lao PDR,Middle East & North Africa,Upper middle income
189,Liberia,Middle East & North Africa,Upper middle income
190,Libya,Latin America & Caribbean,Upper middle income
191,Liechtenstein,South Asia,Upper middle income
192,Madagascar,South Asia,Upper middle income
193,Middle East & North Africa,Latin America & Caribbean,Upper middle income
194,Mexico,East Asia & Pacific,Upper middle income
195,Middle income,Europe & Central Asia,Upper middle income
196,Middle East & North Africa (excluding high inc...,Europe & Central Asia,Upper middle income
197,Mauritania,Sub-Saharan Africa,Upper middle income
198,Malawi,East Asia & Pacific,Upper middle income
199,North America,Sub-Saharan Africa,Upper middle income
200,Nepal,East Asia & Pacific,Upper middle income
201,Panama,Latin America & Caribbean,Upper middle income
202,Portugal,Latin America & Caribbean,Upper middle income
203,Qatar,Europe & Central Asia,Upper middle income
204,Romania,Europe & Central Asia,Upper middle income
205,Somalia,Europe & Central Asia,Upper middle income
206,Sao Tome and Principe,Latin America & Caribbean,Upper middle income
207,Togo,East Asia & Pacific,Upper middle income
208,Tajikistan,Europe & Central Asia,Upper middle income
209,Middle East & North Africa (IDA & IBRD countries),East Asia & Pacific,Upper middle income
210,Tunisia,Europe & Central Asia,Upper middle income
211,Turkey,East Asia & Pacific,Upper middle income
212,Uzbekistan,Latin America & Caribbean,Upper middle income
213,St. Vincent and the Grenadines,Latin America & Caribbean,Upper middle income
214,World,East Asia & Pacific,Upper middle income
215,Samoa,Europe & Central Asia,Upper middle income
216,"Yemen, Rep.",Sub-Saharan Africa,Upper middle income

### 数据分类

In [35]:
dfd1.loc[0:78]

,country,Region,IncomeGroup
0,Aruba,Latin America & Caribbean,High income
1,Andorra,Europe & Central Asia,High income
2,United Arab Emirates,Middle East & North Africa,High income
3,Antigua and Barbuda,Latin America & Caribbean,High income
4,Australia,East Asia & Pacific,High income
5,Austria,Europe & Central Asia,High income
6,Belgium,Europe & Central Asia,High income
7,Bahrain,Middle East & North Africa,High income
8,"Bahamas, The",Latin America & Caribbean,High income
9,Bermuda,North America,High income
10,Barbados,Latin America & Caribbean,High income
11,Brunei Darussalam,East Asia & Pacific,High income
12,Canada,North America,High income
13,Switzerland,Europe & Central Asia,High income
14,Channel Islands,Europe & Central Asia,High income
15,Chile,Latin America & Caribbean,High income
16,Curacao,Latin America & Caribbean,High income
17,Cayman Islands,Latin America & Caribbean,High income
18,Cyprus,Europe & Central Asia,High income
19,Czech Republic,Europe & Central Asia,High income
20,Germany,Europe & Central Asia,High income
21,Denmark,Europe & Central Asia,High income
22,Spain,Europe & Central Asia,High income
23,Estonia,Europe & Central Asia,High income
24,Finland,Europe & Central Asia,High income
25,France,Europe & Central Asia,High income
26,Faroe Islands,Europe & Central Asia,High income
27,United Kingdom,Europe & Central Asia,High income
28,Gibraltar,Europe & Central Asia,High income
29,Greece,Europe & Central Asia,High income
...,...,...,...
49,"Macao SAR, China",Latin America & Caribbean,High income
50,Morocco,Europe & Central Asia,High income
51,Mali,Middle East & North Africa,High income
52,Mongolia,East Asia & Pacific,High income
53,Namibia,East Asia & Pacific,High income
54,Nicaragua,Europe & Central Asia,High income
55,Netherlands,Europe & Central Asia,High income
56,Nauru,East Asia & Pacific,High income
57,OECD members,Middle East & North Africa,High income
58,Pakistan,Latin America & Caribbean,High income
59,Philippines,East Asia & Pacific,High income
60,Papua New Guinea,Europe & Central Asia,High income
61,Pre-demographic dividend,Latin America & Caribbean,High income
62,"Korea, Dem. People’s Rep.",Europe & Central Asia,High income
63,Post-demographic dividend,East Asia & Pacific,High income
64,French Polynesia,Middle East & North Africa,High income
65,South Asia,Middle East & North Africa,High income
66,Senegal,East Asia & Pacific,High income
67,El Salvador,Europe & Central Asia,High income
68,Suriname,Europe & Central Asia,High income
69,Slovak Republic,Europe & Central Asia,High income
70,Slovenia,Europe & Central Asia,High income
71,Eswatini,Latin America & Caribbean,High income
72,Sint Maarten (Dutch part),Sub-Saharan Africa,High income
73,Syrian Arab Republic,Latin America & Caribbean,High income
74,Sub-Saharan Africa (IDA & IBRD countries),Latin America & Caribbean,High income
75,Upper middle income,Latin America & Caribbean,High income
76,Uruguay,North America,High income
77,"Venezuela, RB",Latin America & Caribbean,High income
78,British Virgin Islands,Latin America & Caribbean,High income

In [36]:
dfd1.loc[79:109]

,country,Region,IncomeGroup
79,Afghanistan,South Asia,Low income
80,Burundi,Sub-Saharan Africa,Low income
81,Benin,Sub-Saharan Africa,Low income
82,Burkina Faso,Sub-Saharan Africa,Low income
83,Central African Republic,Sub-Saharan Africa,Low income
84,"Congo, Dem. Rep.",Sub-Saharan Africa,Low income
85,Eritrea,Sub-Saharan Africa,Low income
86,Ethiopia,Sub-Saharan Africa,Low income
87,Guinea,Sub-Saharan Africa,Low income
88,"Gambia, The",Sub-Saharan Africa,Low income
89,Guinea-Bissau,Sub-Saharan Africa,Low income
90,Haiti,Latin America & Caribbean,Low income
91,Lebanon,Sub-Saharan Africa,Low income
92,Moldova,Sub-Saharan Africa,Low income
93,North Macedonia,Sub-Saharan Africa,Low income
94,Northern Mariana Islands,Sub-Saharan Africa,Low income
95,Mauritius,Sub-Saharan Africa,Low income
96,New Caledonia,Sub-Saharan Africa,Low income
97,Norway,South Asia,Low income
98,Puerto Rico,East Asia & Pacific,Low income
99,Russian Federation,Sub-Saharan Africa,Low income
100,Solomon Islands,Sub-Saharan Africa,Low income
101,San Marino,Sub-Saharan Africa,Low income
102,Sub-Saharan Africa (excluding high income),Sub-Saharan Africa,Low income
103,Seychelles,Middle East & North Africa,Low income
104,Turks and Caicos Islands,Sub-Saharan Africa,Low income
105,Europe & Central Asia (IDA & IBRD countries),Sub-Saharan Africa,Low income
106,Thailand,Europe & Central Asia,Low income
107,Tuvalu,Sub-Saharan Africa,Low income
108,Tanzania,Sub-Saharan Africa,Low income
109,Kosovo,Middle East & North Africa,Low income

In [37]:
dfd1.loc[157:217]

,country,Region,IncomeGroup
157,Albania,Europe & Central Asia,Upper middle income
158,Argentina,Latin America & Caribbean,Upper middle income
159,Armenia,Europe & Central Asia,Upper middle income
160,American Samoa,East Asia & Pacific,Upper middle income
161,Azerbaijan,Europe & Central Asia,Upper middle income
162,Bulgaria,Europe & Central Asia,Upper middle income
163,Bosnia and Herzegovina,Europe & Central Asia,Upper middle income
164,Belarus,Europe & Central Asia,Upper middle income
165,Belize,Latin America & Caribbean,Upper middle income
166,Brazil,Latin America & Caribbean,Upper middle income
167,Botswana,Sub-Saharan Africa,Upper middle income
168,China,East Asia & Pacific,Upper middle income
169,Colombia,Latin America & Caribbean,Upper middle income
170,Costa Rica,Latin America & Caribbean,Upper middle income
171,Cuba,Latin America & Caribbean,Upper middle income
172,Dominica,Latin America & Caribbean,Upper middle income
173,Dominican Republic,Latin America & Caribbean,Upper middle income
174,Algeria,Middle East & North Africa,Upper middle income
175,Ecuador,Latin America & Caribbean,Upper middle income
176,Fiji,East Asia & Pacific,Upper middle income
177,Gabon,Sub-Saharan Africa,Upper middle income
178,Georgia,Europe & Central Asia,Upper middle income
179,Equatorial Guinea,Sub-Saharan Africa,Upper middle income
180,Grenada,Latin America & Caribbean,Upper middle income
181,Guatemala,Latin America & Caribbean,Upper middle income
182,Guyana,Latin America & Caribbean,Upper middle income
183,Ireland,Middle East & North Africa,Upper middle income
184,"Iran, Islamic Rep.",Middle East & North Africa,Upper middle income
185,Italy,Latin America & Caribbean,Upper middle income
186,Jamaica,Middle East & North Africa,Upper middle income
187,Japan,Europe & Central Asia,Upper middle income
188,Lao PDR,Middle East & North Africa,Upper middle income
189,Liberia,Middle East & North Africa,Upper middle income
190,Libya,Latin America & Caribbean,Upper middle income
191,Liechtenstein,South Asia,Upper middle income
192,Madagascar,South Asia,Upper middle income
193,Middle East & North Africa,Latin America & Caribbean,Upper middle income
194,Mexico,East Asia & Pacific,Upper middle income
195,Middle income,Europe & Central Asia,Upper middle income
196,Middle East & North Africa (excluding high inc...,Europe & Central Asia,Upper middle income
197,Mauritania,Sub-Saharan Africa,Upper middle income
198,Malawi,East Asia & Pacific,Upper middle income
199,North America,Sub-Saharan Africa,Upper middle income
200,Nepal,East Asia & Pacific,Upper middle income
201,Panama,Latin America & Caribbean,Upper middle income
202,Portugal,Latin America & Caribbean,Upper middle income
203,Qatar,Europe & Central Asia,Upper middle income
204,Romania,Europe & Central Asia,Upper middle income
205,Somalia,Europe & Central Asia,Upper middle income
206,Sao Tome and Principe,Latin America & Caribbean,Upper middle income
207,Togo,East Asia & Pacific,Upper middle income
208,Tajikistan,Europe & Central Asia,Upper middle income
209,Middle East & North Africa (IDA & IBRD countries),East Asia & Pacific,Upper middle income
210,Tunisia,Europe & Central Asia,Upper middle income
211,Turkey,East Asia & Pacific,Upper middle income
212,Uzbekistan,Latin America & Caribbean,Upper middle income
213,St. Vincent and the Grenadines,Latin America & Caribbean,Upper middle income
214,World,East Asia & Pacific,Upper middle income
215,Samoa,Europe & Central Asia,Upper middle income
216,"Yemen, Rep.",Sub-Saharan Africa,Upper middle income

## 为了能更好分析女性劳动力参与劳动比率的变化，将结合国家收入程度、宗教因素、总就业人口比

## 率以及上面地图显示出的女性劳动力参与劳动比率四个方面，抽取代表性国家进行分析。

### 高收入国家：加拿大、阿拉伯联合酋长国

### 中高收入国家：尼泊尔、巴西

### 中低收入国家：埃及、柬埔寨

### 低收入国家：卢旺达、马达加斯加

## 女性劳动力参与率抽取国家进行分析

### 数据清洗

In [38]:
dfc2=dfc1.set_index('country')
dfc2

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Afghanistan,42.709000,42.735001,43.327999,44.117001,45.039001,46.016998,47.000999,47.765999,48.473999,48.660000,48.848999
Angola,75.255997,75.306999,75.344002,75.389000,75.432999,75.464996,75.478996,75.470001,75.450996,75.412003,75.372002
Albania,44.945000,45.693001,47.104000,48.806000,44.650002,44.789001,47.675999,47.459000,47.312000,47.191002,47.081001
Arab World,20.052651,20.169026,20.268955,20.453085,20.753035,20.686165,20.492409,20.589288,20.536024,20.537448,20.525228
United Arab Emirates,42.514999,44.028999,45.143002,46.213001,47.263000,48.323002,49.396000,50.161999,51.266998,51.148998,51.067001
Argentina,48.823002,47.833000,48.102001,48.188000,47.790001,47.157001,47.825001,48.480000,49.118000,48.966999,48.813999
Armenia,48.299000,49.587002,52.091999,51.969002,52.631001,51.946999,51.166000,49.441002,49.419998,49.575001,49.674000
Australia,58.821999,58.706001,58.952000,58.826000,58.707001,58.648998,59.066002,59.247002,59.693001,59.645000,59.591000
Austria,53.373001,53.507000,53.839001,54.337002,54.598999,54.562000,54.535999,54.945999,54.868999,54.826000,54.745998
Azerbaijan,59.617001,60.223000,60.813999,61.104000,61.323002,61.923000,62.516998,62.963001,63.262001,63.112999,62.916000
Burundi,80.610001,80.349998,80.112000,79.917999,79.748001,79.573998,79.844002,80.079002,80.286003,80.348999,80.363998
Belgium,46.745998,47.488998,46.805000,46.889000,47.594002,48.011002,48.023998,47.765999,47.891998,47.889000,47.867001
Benin,68.933998,69.223999,68.088997,68.207001,68.351997,68.512001,68.680000,68.835999,69.016998,69.176002,69.334999
Burkina Faso,60.092999,59.717999,59.341000,58.971001,58.606998,58.249001,58.375999,58.497002,58.626999,58.462002,58.292000
Bangladesh,29.382000,29.882999,30.371000,30.864000,31.364000,31.871000,32.383999,32.889999,35.852001,35.999001,36.143002
Bulgaria,48.089001,47.698002,47.216999,47.825001,48.528000,48.629002,48.632999,47.764999,49.626999,49.529999,49.416000
Bahrain,42.604000,43.763000,43.004002,43.202999,43.404999,43.615002,43.800999,44.011002,44.352001,44.473000,44.612999
"Bahamas, The",68.639999,68.742996,68.555000,68.616997,68.436996,68.180000,67.744003,67.530998,67.527000,67.568001,67.540001
Bosnia and Herzegovina,37.223999,37.063999,36.837002,36.547001,36.273998,35.972000,35.667000,35.258999,35.726002,35.627998,35.521000
Belarus,57.152000,57.540001,57.861000,58.136002,58.358002,58.527000,58.641998,58.665001,58.395000,58.126999,57.827000
Belize,50.747002,51.938000,53.235001,54.527000,53.701000,52.930000,52.212002,52.768002,52.924999,53.280998,53.648998
Bolivia,62.367001,62.019001,61.651001,57.944000,58.820999,60.900002,54.508999,60.321999,56.585999,56.595001,56.611000
Brazil,54.966000,53.576000,52.173000,53.077999,52.976002,52.860001,53.377998,53.320999,54.167999,54.029999,53.882000
Barbados,63.606998,63.492001,63.287998,62.061001,63.230999,61.855999,61.860001,62.568001,62.234001,61.894001,61.528000
Brunei Darussalam,56.659000,56.928001,57.191002,57.416000,57.618000,57.810001,58.000000,58.188000,58.362000,58.220001,58.071999
Bhutan,67.111000,64.556999,62.270000,63.502998,58.187000,54.931000,57.764999,57.895000,57.979000,58.202999,58.389000
Botswana,56.265999,53.546001,57.425999,61.106998,64.554001,64.907997,65.231003,65.524002,65.836998,66.192001,66.519997
Central African Republic,65.655998,65.663002,65.505997,65.321999,65.056000,64.838997,64.625000,64.691002,64.791000,64.723999,64.667000
Canada,61.874001,61.858002,61.601002,61.612000,61.683998,61.087002,60.770000,60.806999,61.015999,60.846001,60.658001
Central Europe and the Baltics,47.557086,47.988688,47.890527,48.313518,48.408511,48.811783,48.818785,48.807143,49.423060,49.226387,49.018014
...,...,...,...,...,...,...,...,...,...,...,...
Thailand,64.795998,63.848999,65.963997,65.171997,62.443001,61.446999,60.957001,60.061001,59.761002,59.465000,59.150002
Tajikistan,29.667999,29.502001,29.261000,28.990999,28.712999,28.476000,28.291000,28.084999,27.886999,27.794001,27.684999
Turkmenistan,52.314999,52.418999,52.530998,52.680000,52.830002,52.938999,52.994999,52.986000,52.926998,52.789001,52.633999
Latin America & the Caribbean (IDA & IBRD countries),51.629659,51.185245,50.864398,51.698867,51.559410,51.260341,51.521785,51.721148,52.035162,52.052128,52.059513
Timor-Leste,27.209000,26.469000,26.180000,25.913000,25.681000,25.450001,25.270000,25.160000,25.202000,25.034000,24.851000
Middle East & North Africa (IDA & IBRD countries),18.371887,18.220439,17.979422,17.871078,17.951179,17.612709,17.575307,18.002983,17.846133,17.801293,17.738633
Tonga,45.432999,45.334999,45.306999,45.316002,45.358002,45.323002,45.230000,45.244999,45.251999,45.250000,45.209999
South Asia (IDA & IBRD),27.832411,27.050263,26.050446,25.082699,25.354484,25.580315,25.875504,26.062319,26.460767,26.371171,26.278402
Sub-Saharan Africa (IDA & IBRD countries),61.260450,60.996748,60.923675,60.850175,60.929255,60.901829,61.045061,61.152641,61.363740,61.381375,61.395935
Trinidad and Tobago,51.660999,51.025002,50.359001,51.640999,51.896000,52.256001,50.848999,51.210999,50.511002,50.354000,50.147999
Tunisia,24.385000,24.459999,24.445999,25.245001,25.143000,24.933001,24.726999,24.468000,24.226000,24.080000,23.909000
Turkey,25.478001,27.033001,28.323000,28.879000,30.101999,30.243000,31.475000,32.507000,33.571999,33.520000,33.458000
Tanzania,84.781998,83.900002,82.952003,81.917000,80.780998,79.533997,79.553001,79.570000,79.577003,79.389000,79.203003
Uganda,65.688004,65.876999,66.081001,66.291000,66.430000,66.582001,66.744003,66.885002,67.037003,67.151001,67.269997
Ukraine,48.445000,48.410000,48.250999,47.485001,48.376999,47.040001,47.360001,47.075001,46.938000,46.679001,46.396999
Upper middle income,56.201803,55.670890,55.570200,55.603981,55.382775,55.061678,54.994629,54.828160,54.693724,54.296955,53.875677
Uruguay,55.616001,55.334000,55.978001,55.787998,54.973999,55.965000,55.724998,55.926998,55.597000,55.771000,55.931000
United States,58.144001,57.501999,56.930000,56.701000,56.292000,56.111000,55.834000,55.993999,56.313000,56.047001,55.778000
Uzbekistan,52.606998,52.736000,52.865002,52.997002,53.129002,53.244999,53.327999,53.377998,53.419998,53.412998,53.355999
St. Vincent and the Grenadines,56.441002,56.416000,56.487000,56.708000,56.938999,57.042999,57.071999,57.206001,57.195999,57.278999,57.313999
"Venezuela, RB",51.095001,50.619999,50.995998,50.584000,50.773998,50.542000,50.122002,48.775002,47.694000,47.743000,47.783001
Virgin Islands (U.S.),58.008999,57.865002,57.429001,56.706001,56.375999,56.105999,55.855000,55.743000,55.769001,55.617001,55.433998
Vietnam,71.398003,71.305000,71.459999,71.969002,72.902000,73.195000,72.945999,72.642998,72.697998,72.649002,72.541000
Vanuatu,61.069000,61.241001,61.323002,61.354000,61.379002,61.411999,61.584999,61.528000,61.484001,61.507999,61.533001
World,49.091606,48.677926,48.363017,48.164190,48.114513,48.033072,48.025554,48.027061,48.089157,47.883420,47.662671
Samoa,24.337999,24.301001,24.173000,24.118000,24.091000,24.011999,23.916000,23.799000,23.740000,23.674999,23.587999
"Yemen, Rep.",10.798000,10.049000,8.848000,7.799000,6.884000,6.083000,6.106000,6.117000,6.138000,5.983000,5.827000
South Africa,46.286999,44.728001,45.198002,45.418999,46.387001,46.612000,47.801998,47.797001,48.922001,48.848999,48.768002
Zambia,71.610001,71.059998,70.542999,70.021004,70.155998,70.295998,70.445000,70.585999,70.733002,70.752998,70.785004
Zimbabwe,77.295998,77.362000,77.492996,77.649002,77.796997,77.935997,78.069000,78.219002,78.387001,78.568001,78.733002

In [39]:
dfc2.columns.values[1:]

array(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'], dtype=object)

In [40]:
加拿大=dfc2[28:29]
加拿大

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Canada,61.874001,61.858002,61.601002,61.612,61.683998,61.087002,60.77,60.806999,61.015999,60.846001,60.658001

In [41]:
Canada = list(dfc2.loc["Canada"].values)[1:]
Canada

[61.85800171,
 61.60100174,
 61.61199951,
 61.68399811,
 61.087001799999996,
 60.77000046,
 60.80699921,
 61.01599884,
 60.84600067,
 60.65800095]

In [42]:
阿拉伯联合酋长国=dfc2[4:5]
阿拉伯联合酋长国

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
United Arab Emirates,42.514999,44.028999,45.143002,46.213001,47.263,48.323002,49.396,50.161999,51.266998,51.148998,51.067001

In [43]:
United_Arab_Emirates=list(dfc2.loc["United Arab Emirates"].values)[1:]
United_Arab_Emirates

[44.02899933,
 45.14300156,
 46.21300125,
 47.26300049,
 48.32300186,
 49.39599991,
 50.16199875,
 51.26699829,
 51.14899826,
 51.06700134]

In [44]:
尼泊尔=dfc2[154:155]
尼泊尔

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Nepal,79.126999,79.311996,79.731003,80.167,80.575996,80.903,81.130997,81.43,81.662003,81.666,81.684998

In [45]:
Nepal=list(dfc2.loc["Nepal"].values)[1:]
Nepal

[79.31199646,
 79.73100281,
 80.16699982,
 80.57599640000001,
 80.90299988,
 81.13099670000001,
 81.43000031,
 81.66200256,
 81.66600037,
 81.68499756]

In [46]:
巴西=dfc2[22:23]
巴西

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Brazil,54.966,53.576,52.173,53.077999,52.976002,52.860001,53.377998,53.320999,54.167999,54.029999,53.882

In [47]:
Brazil=list(dfc2.loc["Brazil"].values)[1:]
Brazil

[53.57600021,
 52.17300034,
 53.07799911,
 52.97600174,
 52.86000061,
 53.37799835,
 53.32099915,
 54.16799927,
 54.02999878,
 53.88199997]

In [48]:
埃及=dfc2[57:58]
埃及

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
"Egypt, Arab Rep.",22.687,22.632999,22.040001,22.504999,23.386,23.688999,22.552,22.85,22.733999,22.834,22.934999

In [49]:
Egypt=list(dfc2.loc["Egypt, Arab Rep."].values)[1:]
Egypt

[22.63299942,
 22.04000092,
 22.50499916,
 23.38599968,
 23.68899918,
 22.55200005,
 22.85000038,
 22.73399925,
 22.83399963,
 22.93499947]

In [50]:
柬埔寨=dfc2[106:107]
柬埔寨

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Cambodia,81.016998,81.841003,80.660004,79.413002,78.108002,76.745003,75.323998,75.223,75.132004,75.169998,75.200996

In [51]:
Cambodia=list(dfc2.loc["Cambodia"].values)[1:]
Cambodia

[81.84100342,
 80.66000366,
 79.41300201,
 78.10800171,
 76.74500275,
 75.3239975,
 75.22299957,
 75.13200378,
 75.16999817,
 75.20099640000001]

In [52]:
卢旺达=dfc2[177:178]
卢旺达

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Rwanda,84.335999,84.371002,84.370003,84.315002,84.211998,84.082001,84.126999,84.158997,84.178001,84.172997,84.160004

In [53]:
Rwanda=list(dfc2.loc["Rwanda"].values)[1:]
Rwanda

[84.3710022,
 84.37000275,
 84.31500244,
 84.21199799,
 84.08200073,
 84.1269989,
 84.15899658,
 84.17800140000001,
 84.17299652,
 84.16000366]

In [54]:
马达加斯加 =dfc2[129:130]
马达加斯加

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Madagascar,86.698998,87.117996,86.862,86.554001,85.677002,84.671997,83.516998,83.498001,83.490997,83.594002,83.699997

In [55]:
Madagascar=list(dfc2.loc["Madagascar"].values)[1:]
Madagascar

[87.11799622,
 86.86199951,
 86.55400085,
 85.67700195,
 84.67199707,
 83.51699829,
 83.4980011,
 83.49099731,
 83.59400177,
 83.69999695]

In [56]:
x = [int(x)for x in dfc1.columns.values[1:]]
x

[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [57]:
from pyecharts.faker import Faker
from pyecharts import options as opts
from pyecharts.charts import Bar, Line, Page


def bar_base() -> Bar:
    x =  [int(x)for x in dfc1.columns.values[1:]]
    c = (
        Bar()
        .add_xaxis(x)
        .add_yaxis("加拿大", Canada)
        .add_yaxis("阿拉伯",United_Arab_Emirates)
        .add_yaxis("尼泊尔", Nepal)
        .add_yaxis("巴西", Brazil)
        .add_yaxis("埃及", Egypt)
        .add_yaxis("柬埔寨", Cambodia)
        .add_yaxis("卢旺达", Rwanda)
        .add_yaxis("马达加斯加", Madagascar)
        .set_global_opts(title_opts=opts.TitleOpts(title="女性劳动力劳动参与率", subtitle="2009-2019"))
    )
    return c


def line_base() -> Line:
    c = (
        Line()
        .add_xaxis(['2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019'])
        .add_yaxis("加拿大", Canada)
        .add_yaxis("阿拉伯",United_Arab_Emirates)
        .add_yaxis("尼泊尔", Nepal)
        .add_yaxis("巴西", Brazil)
        .add_yaxis("埃及", Egypt)
        .add_yaxis("柬埔寨", Cambodia)
        .add_yaxis("卢旺达", Rwanda)
        .add_yaxis("马达加斯加", Madagascar)
        .set_global_opts(title_opts=opts.TitleOpts(title="女性劳动力劳动参与率"))
    )
    return c


page = Page()
page.add(bar_base(), line_base())
page.render()

'C:\\Users\\Administrator\\Desktop\\王子佳\\render.html'

- #### 通过对比不同收入国家的图表，可以发现，除低收入的卢旺达和马达加斯加以外，其他同等收入的两个国家女性劳动力参

#### 与劳动比率都相差较大。因此可以得出，除宗教因素外，收入也是决定女性是否参与劳动的重要指标之一。

- #### 1.首先来看高收入国家，加拿大的女性劳动力参与劳动比率在维持平稳的情况下呈微弱的下降趋势。而阿拉伯联合酋长国相

#### 比起来女性劳动力参与劳动比率则上升得较快，在进入50%后呈平稳增长态势。

- #### 2.其次阿拉伯联合酋长国信奉伊斯兰教，但是同为信奉伊斯兰教的埃及女性劳动力参与劳动比率却只有23%，相比起收入，宗

#### 教似乎对女性的影响并没有那么大。

- #### 3.然后来看中高收入国家，尼泊尔的女性劳动力参与劳动比率高达65-68%，但是巴西的女性劳动力参与劳动比率却只有52-53%。

#### 两个国家的支柱产业都是农业，但是巴西的科技发达程度远高于尼泊尔，巴西农业的机械化水平比较高，因此巴西的农

#### 业从业人数远比尼泊尔低，这也是女性劳动力参与劳动比率比尼泊尔低的原因之一。

- #### 4.中低收入国家中，柬埔寨和埃及的女性劳动力参与比率是两个极端，柬埔寨超过了70%，虽然不断在下降，但女性劳动力参与

#### 劳动比率仍在世界前列。埃及的比率则低于30%，只有22%-23%，女性劳动力参与劳动比率居世界末列。埃及信奉伊斯

#### 兰教，女性地位较低，女性家庭责任重大；而柬埔寨作为东南亚国家，农业比重大，女性需要从事农业活动，农业劳作属

#### 于家庭责任的一部分，因此女性劳动力参与劳动比率高。

- #### 5.卢旺达与柬埔寨同为非洲撒哈拉以南国家和低收入国家，国家相对封闭落后，经济不发达。对于他们来说，收入才是最主要的，

#### 因此男性劳动力与女性劳动力参与劳动的比率都非常高。

## 高等学校女性入学比例

In [58]:
dfe = pd.read_csv('School_enrollment.csv',encoding = 'utf8')
dfe

,country,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,1.43284,1.41237,1.49926,1.49460,2.20461,2.27028,2.26241,1.94031,NaN,NaN,NaN
1,Afghanistan,0.23639,NaN,0.34565,NaN,NaN,0.27600,NaN,NaN,NaN,0.34523,NaN
2,Angola,NaN,NaN,0.36925,NaN,0.79661,NaN,0.78541,0.82566,NaN,NaN,NaN
3,Albania,1.36375,1.35543,1.37539,1.39701,1.40728,1.43551,1.42608,1.47336,1.52645,1.56984,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,1.04094,1.04136,1.04497,1.03854,1.03392,1.03775,1.06004,1.08843,1.07958,1.10959,NaN
6,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Argentina,1.49186,1.49160,1.54854,1.56222,1.60015,1.61270,1.63170,1.65707,1.66431,NaN,NaN
8,Armenia,1.23839,1.21927,1.18578,1.18178,1.13286,1.14013,1.19169,1.26878,1.27369,1.32958,NaN
9,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,2.27844,2.68089,2.07896,2.24567,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,NaN,NaN,NaN,NaN,NaN,NaN,1.44446,1.42971,1.42093,NaN,NaN
12,Austria,NaN,NaN,NaN,NaN,1.19662,1.19258,1.19299,1.18812,1.18463,NaN,NaN
13,Azerbaijan,0.98681,0.98937,1.01629,1.04769,1.11285,1.14195,1.16234,1.17749,1.14894,1.14603,NaN
14,Burundi,NaN,0.54268,0.46166,0.48504,0.44494,0.32848,NaN,0.42868,0.44861,NaN,NaN
15,Belgium,1.24892,1.26628,1.27115,1.28248,1.29505,1.30332,1.30720,1.30150,1.30557,NaN,NaN
16,Benin,0.39077,0.35390,0.27232,0.34509,0.38012,0.36512,0.40193,0.42069,0.43936,NaN,NaN
17,Burkina Faso,0.48354,0.47905,0.49631,0.49568,0.49261,0.48590,0.52272,0.51226,0.52122,0.58203,NaN
18,Bangladesh,0.59971,NaN,0.69404,0.72256,NaN,0.73733,NaN,0.70066,0.70081,0.70714,NaN
19,Bulgaria,1.32993,1.32290,1.29973,1.27459,1.27105,1.25935,1.27605,1.24473,NaN,NaN,NaN
20,Bahrain,NaN,NaN,1.71121,2.03262,2.23749,1.97832,1.91666,1.86808,1.89295,1.83390,NaN
21,"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Belarus,1.47214,1.44655,1.42699,1.39937,1.35478,1.33626,1.32835,1.29107,1.24343,1.18604,NaN
24,Belize,1.66270,1.59618,1.65815,1.65322,1.64151,1.65257,1.60790,1.61911,1.62002,NaN,NaN
25,Bermuda,2.52370,2.05683,2.06675,1.98982,2.22829,1.87512,2.31080,NaN,1.68152,1.49869,NaN
26,Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Brazil,1.32152,NaN,1.31336,1.34778,1.35137,1.36005,1.33980,1.38149,1.36569,NaN,NaN
28,Barbados,2.20390,2.18271,2.24550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Brunei Darussalam,1.78264,1.86650,1.76483,1.76696,1.85738,1.73538,1.70615,1.65575,1.62027,1.56193,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,1.26326,1.27645,1.27155,1.28637,1.28794,1.29219,1.28962,1.29674,1.29734,1.29563,NaN
235,Timor-Leste,0.68262,0.71834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),1.00396,0.98703,1.00101,1.00010,0.97806,0.96614,0.97803,0.99614,0.99814,1.01615,NaN
237,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,South Asia (IDA & IBRD),0.71430,0.73983,0.79237,0.87568,0.92636,0.96754,0.96198,0.96763,0.98945,1.01186,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),0.70838,0.70587,0.69073,0.71461,0.72391,0.72271,0.73492,0.74392,0.75258,0.75471,NaN
240,Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Tunisia,1.50840,1.55235,1.63399,1.57185,1.59912,1.64585,1.65751,1.73072,1.80442,NaN,NaN
242,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,NaN,0.82463,NaN,0.54915,0.54125,NaN,0.53811,NaN,NaN,NaN,NaN
245,Uganda,0.75974,0.74625,0.73313,0.68457,NaN,0.72971,NaN,NaN,NaN,NaN,NaN
246,Ukraine,1.27167,1.25648,1.18348,1.15083,1.19260,1.15601,NaN,NaN,NaN,NaN,NaN
247,Upper middle income,1.15972,1.16757,1.17606,1.17781,1.17991,1.17814,1.18721,1.19392,1.19559,1.20171,NaN
248,Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,United States,1.40157,1.39311,1.38578,1.39345,1.37343,1.36078,1.35624,1.34487,1.36020,NaN,NaN
250,Uzbekistan,0.69056,0.68058,0.64384,0.59820,0.59647,0.62043,0.62901,0.64671,0.60792,0.69772,NaN
251,St. Vincent and the Grenadines,NaN,NaN,NaN,NaN,NaN,2.21255,1.67388,NaN,NaN,NaN,NaN
252,"Venezuela, RB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,British Virgin Islands,1.59500,NaN,NaN,NaN,NaN,NaN,1.79420,1.58504,NaN,NaN,NaN
254,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Vietnam,1.00745,1.01665,1.02616,NaN,0.90818,1.05553,1.00551,1.24238,NaN,NaN,NaN
256,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,World,1.07637,1.07705,1.07587,1.09559,1.10652,1.11485,1.11687,1.12460,1.13128,1.13933,NaN
258,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",NaN,0.43666,0.44019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,South Africa,NaN,NaN,NaN,1.40606,1.41345,1.41181,NaN,1.40463,1.43187,NaN,NaN
262,Zambia,NaN,NaN,0.36901,0.73715,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Zimbabwe,NaN,0.73304,0.69562,0.70526,0.77549,NaN,0.83997,NaN,NaN,NaN,NaN

In [59]:
dfe1=dfe.set_index('country')
dfe1

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Aruba,1.43284,1.41237,1.49926,1.49460,2.20461,2.27028,2.26241,1.94031,NaN,NaN,NaN
Afghanistan,0.23639,NaN,0.34565,NaN,NaN,0.27600,NaN,NaN,NaN,0.34523,NaN
Angola,NaN,NaN,0.36925,NaN,0.79661,NaN,0.78541,0.82566,NaN,NaN,NaN
Albania,1.36375,1.35543,1.37539,1.39701,1.40728,1.43551,1.42608,1.47336,1.52645,1.56984,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arab World,1.04094,1.04136,1.04497,1.03854,1.03392,1.03775,1.06004,1.08843,1.07958,1.10959,NaN
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,1.49186,1.49160,1.54854,1.56222,1.60015,1.61270,1.63170,1.65707,1.66431,NaN,NaN
Armenia,1.23839,1.21927,1.18578,1.18178,1.13286,1.14013,1.19169,1.26878,1.27369,1.32958,NaN
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Antigua and Barbuda,2.27844,2.68089,2.07896,2.24567,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,NaN,NaN,NaN,NaN,NaN,NaN,1.44446,1.42971,1.42093,NaN,NaN
Austria,NaN,NaN,NaN,NaN,1.19662,1.19258,1.19299,1.18812,1.18463,NaN,NaN
Azerbaijan,0.98681,0.98937,1.01629,1.04769,1.11285,1.14195,1.16234,1.17749,1.14894,1.14603,NaN
Burundi,NaN,0.54268,0.46166,0.48504,0.44494,0.32848,NaN,0.42868,0.44861,NaN,NaN
Belgium,1.24892,1.26628,1.27115,1.28248,1.29505,1.30332,1.30720,1.30150,1.30557,NaN,NaN
Benin,0.39077,0.35390,0.27232,0.34509,0.38012,0.36512,0.40193,0.42069,0.43936,NaN,NaN
Burkina Faso,0.48354,0.47905,0.49631,0.49568,0.49261,0.48590,0.52272,0.51226,0.52122,0.58203,NaN
Bangladesh,0.59971,NaN,0.69404,0.72256,NaN,0.73733,NaN,0.70066,0.70081,0.70714,NaN
Bulgaria,1.32993,1.32290,1.29973,1.27459,1.27105,1.25935,1.27605,1.24473,NaN,NaN,NaN
Bahrain,NaN,NaN,1.71121,2.03262,2.23749,1.97832,1.91666,1.86808,1.89295,1.83390,NaN
"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belarus,1.47214,1.44655,1.42699,1.39937,1.35478,1.33626,1.32835,1.29107,1.24343,1.18604,NaN
Belize,1.66270,1.59618,1.65815,1.65322,1.64151,1.65257,1.60790,1.61911,1.62002,NaN,NaN
Bermuda,2.52370,2.05683,2.06675,1.98982,2.22829,1.87512,2.31080,NaN,1.68152,1.49869,NaN
Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,1.32152,NaN,1.31336,1.34778,1.35137,1.36005,1.33980,1.38149,1.36569,NaN,NaN
Barbados,2.20390,2.18271,2.24550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brunei Darussalam,1.78264,1.86650,1.76483,1.76696,1.85738,1.73538,1.70615,1.65575,1.62027,1.56193,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Latin America & the Caribbean (IDA & IBRD countries),1.26326,1.27645,1.27155,1.28637,1.28794,1.29219,1.28962,1.29674,1.29734,1.29563,NaN
Timor-Leste,0.68262,0.71834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Middle East & North Africa (IDA & IBRD countries),1.00396,0.98703,1.00101,1.00010,0.97806,0.96614,0.97803,0.99614,0.99814,1.01615,NaN
Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Asia (IDA & IBRD),0.71430,0.73983,0.79237,0.87568,0.92636,0.96754,0.96198,0.96763,0.98945,1.01186,NaN
Sub-Saharan Africa (IDA & IBRD countries),0.70838,0.70587,0.69073,0.71461,0.72391,0.72271,0.73492,0.74392,0.75258,0.75471,NaN
Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tunisia,1.50840,1.55235,1.63399,1.57185,1.59912,1.64585,1.65751,1.73072,1.80442,NaN,NaN
Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanzania,NaN,0.82463,NaN,0.54915,0.54125,NaN,0.53811,NaN,NaN,NaN,NaN
Uganda,0.75974,0.74625,0.73313,0.68457,NaN,0.72971,NaN,NaN,NaN,NaN,NaN
Ukraine,1.27167,1.25648,1.18348,1.15083,1.19260,1.15601,NaN,NaN,NaN,NaN,NaN
Upper middle income,1.15972,1.16757,1.17606,1.17781,1.17991,1.17814,1.18721,1.19392,1.19559,1.20171,NaN
Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United States,1.40157,1.39311,1.38578,1.39345,1.37343,1.36078,1.35624,1.34487,1.36020,NaN,NaN
Uzbekistan,0.69056,0.68058,0.64384,0.59820,0.59647,0.62043,0.62901,0.64671,0.60792,0.69772,NaN
St. Vincent and the Grenadines,NaN,NaN,NaN,NaN,NaN,2.21255,1.67388,NaN,NaN,NaN,NaN
"Venezuela, RB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
British Virgin Islands,1.59500,NaN,NaN,NaN,NaN,NaN,1.79420,1.58504,NaN,NaN,NaN
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,1.00745,1.01665,1.02616,NaN,0.90818,1.05553,1.00551,1.24238,NaN,NaN,NaN
Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
World,1.07637,1.07705,1.07587,1.09559,1.10652,1.11485,1.11687,1.12460,1.13128,1.13933,NaN
Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",NaN,0.43666,0.44019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,NaN,NaN,NaN,1.40606,1.41345,1.41181,NaN,1.40463,1.43187,NaN,NaN
Zambia,NaN,NaN,0.36901,0.73715,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,0.73304,0.69562,0.70526,0.77549,NaN,0.83997,NaN,NaN,NaN,NaN

In [60]:
dfe2 = dfe1.columns.values[0:]
dfe2

array(['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'], dtype=object)

In [61]:
Canada=dfe1[33:34]
Canada

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Canada,1.40023,1.37998,1.36745,1.34253,1.33414,1.3352,1.34124,1.34047,1.34238,NaN,NaN

In [62]:
Canada = list(dfe1.loc["Canada"].values)[0:]
Canada

[1.4002299999999999,
 1.37998,
 1.36745,
 1.34253,
 1.3341399999999999,
 1.3352,
 1.34124,
 1.34047,
 1.34238,
 nan,
 nan]

In [63]:
阿拉伯联合酋长国=dfe1[6:7]
阿拉伯联合酋长国

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
尼泊尔=dfe1[176:177]
尼泊尔

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Nepal,0.61691,0.64183,0.66387,NaN,0.80788,NaN,0.94079,0.97699,1.00909,1.0719,NaN

In [65]:
Nepal = list(dfe1.loc["Nepal"].values)[0:]
Nepal

[0.6169100000000001,
 0.64183,
 0.66387,
 nan,
 0.80788,
 nan,
 0.94079,
 0.9769899999999999,
 1.00909,
 1.0719,
 nan]

In [66]:
巴西=dfe1[27:28]
巴西

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Brazil,1.32152,NaN,1.31336,1.34778,1.35137,1.36005,1.3398,1.38149,1.36569,NaN,NaN

In [67]:
Brazil = list(dfe1.loc["Brazil"].values)[0:]
Brazil

[1.32152,
 nan,
 1.31336,
 1.34778,
 1.3513700000000002,
 1.36005,
 1.3398,
 1.3814899999999999,
 1.36569,
 nan,
 nan]

In [68]:
埃及=dfe1[65:66]
埃及

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
"Egypt, Arab Rep.",0.89888,0.91622,0.9099,0.89463,0.89272,0.89416,0.96149,1.02283,1.03466,NaN,NaN

In [69]:
Egypt = list(dfe1.loc["Egypt, Arab Rep."].values)[0:]
Egypt

[0.8988799999999999,
 0.91622,
 0.9099,
 0.8946299999999999,
 0.8927200000000001,
 0.8941600000000001,
 0.96149,
 1.02283,
 1.0346600000000001,
 nan,
 nan]

In [70]:
柬埔寨=dfe1[121:122]
柬埔寨

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Cambodia,0.56029,0.60209,0.62643,NaN,NaN,NaN,0.82081,NaN,0.86536,NaN,NaN

In [71]:
Cambodia=list(dfe1.loc["Cambodia"].values)[1:]
Cambodia

[0.60209, 0.62643, nan, nan, nan, 0.82081, nan, 0.86536, nan, nan]

In [72]:
卢旺达=dfe1[201:202]
卢旺达

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Rwanda,0.7655,0.77673,0.75195,0.80607,0.79536,0.83917,0.78807,0.77478,0.89507,0.80682,NaN

In [73]:
Rwanda=list(dfe1.loc["Rwanda"].values)[1:]
Rwanda

[0.77673,
 0.75195,
 0.80607,
 0.7953600000000001,
 0.8391700000000001,
 0.7880699999999999,
 0.77478,
 0.89507,
 0.80682,
 nan]

In [74]:
马达加斯加 =dfe1[149:150]
马达加斯加

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
country,,,,,,,,,,,
Madagascar,0.90335,0.91164,0.92722,0.91709,0.9373,0.91787,0.90415,0.92001,0.93284,NaN,NaN

In [75]:
Madagascar=list(dfe1.loc["Madagascar"].values)[1:]
Madagascar

[0.91164,
 0.92722,
 0.91709,
 0.9373,
 0.9178700000000001,
 0.90415,
 0.92001,
 0.93284,
 nan,
 nan]

In [77]:
import pyecharts.options as opts
from pyecharts.faker import  Faker
from pyecharts.charts import Line

def bar_base() -> Bar:
    x = [int(x)for x in dfc1.columns.values[1:]]
    c = (
        Bar()
        .add_xaxis(x)
        .add_yaxis("加拿大", Canada)
        .add_yaxis("尼泊尔", Nepal)
        .add_yaxis("巴西", Brazil)
        .add_yaxis("埃及", Egypt)
        .add_yaxis("柬埔寨", Cambodia)
        .add_yaxis("卢旺达", Rwanda)
        .add_yaxis("马达加斯加", Madagascar)
        .set_global_opts(title_opts=opts.TitleOpts(title="高等学校女性入学比例", subtitle="2009-2019"))
    )
    return c
bar_base().render()

'C:\\Users\\Administrator\\Desktop\\王子佳\\render.html'

- #### 在图中可以看出加拿大和巴西的高等学校入学比例比较高。加拿大和巴西作为高收入和中高收入国家，且国家科技发达，因此女性

  #### 入学率高在意料之中。而且两个国家的女性劳动力参与劳动比率都比较高，在50-60%之间，因此可以合理推断，学历越高的女性参

  #### 与劳动的比率会越高，男性劳动力与女性劳动力参与劳动旗鼓相当。

- #### 尼泊尔与柬埔寨的高等学校女性入学比例较低。两者作为以农业为主的传统国家，且作为南亚和东南亚国家，女性在国家中的

  #### 地位并不高，因此无法接受过多教育，只能从事农业相关的劳作任务，甚至还要负担家中男性的教育开支，因此女性劳动力参与
  
  #### 劳动的比率较高。但女性进入高等学校的比例正逐步上升，这种情况会逐步改善，女性劳动力参与劳动比率会呈下降趋势。

- #### 与尼泊尔和柬埔寨相比，埃及的高等学校女性入学比例相对较高，与为低收入国家的马达加斯加基本持平，但总体呈上升趋势。从人均
 
  #### 收入来看，埃及比马达加斯加的人均收入高，且国家发展远超马达加斯加，但高等女性入学比例却与低收入国家女性持平，说明在
  
  #### 埃及国内女性无法接受过多教育，结合其宗教背景，女性地位远不及男性，女性无法入学高等学校，也无法参与劳动，只能在家里当
  
  #### 家庭主妇，女性没有上升途径。虽然高等学校的女性入学比例呈上升趋势，但上升趋势缓慢，女性在较长一段时间内仍然无法改变现
  
  #### 状。

- #### 卢旺达与马达加斯加同为不发达和低收入国家，马达加斯加的高等学校女性入学比例远高于卢旺达。通过查询资料，马达加斯加对于女性

  #### 教育和女性平权有了国家层面的措施。随着基督教在马达加斯加的不断深入，女性地位得到了明显提高，女性能更多的参与到劳动
  
  #### 学习中去，这样的做法值得其他低收入和埃及等宗教国家借鉴。

[马达加斯加男女童入学比例为何能够持平](http://www.nwccw.gov.cn/2019-10/16/content_272671.htm)

In [72]:
from flask import Flask, render_template, request
import pandas as pd
import cufflinks as cf
import plotly as py
import plotly.graph_objs as go
from pyecharts import options as opts
from pyecharts.charts import Line

df1 = pd.read_csv("School_enrollment.csv",encoding = 'gbk')


app = Flask(__name__)

# 准备工作

regions_available = list(df1.country.dropna().unique())
# cf.set_config_file(offline=True, theme="ggplot")
# py.offline.init_notebook_mode()



@app.route('/',methods=['GET'])
def hu_run_2019():
    data_str = df1.to_html()
    return render_template('results2.html',
                           the_res = data_str,
                           the_select_region=regions_available)

@app.route('/hurun',methods=['POST'])
def hu_run_select() -> 'html':
    the_region = request.form["the_region_selected"]
    print(the_region) # 检查用户输入
    dfs = df1.query("country=='{}'".format(the_region))
#     df_summary = dfs.groupby("行业").agg({"企业名称":"count","估值（亿人民币）":"sum","成立年份":"mean"}).sort_values(by = "企业名称",ascending = False )
#     print(df_summary.head(5)) # 在后台检查描述性统计
#     ## user select
    # print(dfs)
#     # 交互式可视化画图
    fig = dfs.iplot(kind="bar", x="country", asFigure=True)
    py.offline.plot(fig, filename="example1.html",auto_open=False)
    with open("example1.html", encoding="utf8", mode="r") as f:
        plot_all = "".join(f.readlines())

#     # plotly.offline.plot(data, filename='file.html')
	
#     with open("render.html", encoding="utf8", mode="r") as f:
#         plot_all = "".join(f.readlines())
			
    data_str = dfs.to_html()
    return render_template('results2.html',
                            the_plot_all = plot_all,
							# the_plot_all = [],
                            the_res = data_str,
                            the_select_region=regions_available,
                           )




if __name__ == '__main__':
    app.run(debug=True,port=8000)

UnsupportedOperation: not writable